body {
  background: #1A1718;
}

.main-kv {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
  .kv-bg {
    width: 100%;
    height: 100%;
    background: url(/HD/static/images/mission-01.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > div {
      width: 100%;
      position: relative;
      .text {
        color: #fff;
        font-size: 200px;
        font-weight: 700;
        line-height: 120%;
        position: absolute;
        left: 80px;
      }
      &.white {
        background: #fff;
        height: 40%;
        .text {
          bottom: -20px;
          @supports (background-clip:text) or (-webkit-background-clip:text) {
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: url(/HD/static/images/mission-01.jpg);
            background-size: cover;
            background-position: center;
          }
        }
      }
      &.transparent {
        background: transparent;
        height: 60%;
        .text {
          top: -20px;
        }
        .bt-text {
          position: absolute;
          left: 80px;
          bottom: 183px;
        }
      }
    }
  }
}

// 공통
.wrap {
  width: 100%;
  position: relative;
  padding: 0 80px 80px;
  // max-width: 1920px;
  // margin: 0 auto;
}

.section-tit {
  margin-bottom: 147px;
}
// 공통


// business
.main-business {
  width: calc(100% + 160px);
  margin-left: -80px;
  background: #000;
  .split-tit {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    transform:rotate(-27deg) scale(2);
    .item-wrap {
      width: 100%;
      height: 50%;
      position: relative;
      overflow: hidden;
      background: #fff;
      img {
        position: absolute;
        left: 50%;
        transform: rotate(27deg) scale(0.5);
      }
      &.wrap-1 {
        transform: translate(0%, 1px) translate3d(0px, 0px, 0px);
        img {
          bottom: -119px;
          left:calc(14% + 110px);
        }
      }
      &.wrap-2 {
        img {
          top: -120px;
          left:calc(14% + 110px);
        }
      }
    }
  }
  .bs-pin {
    width: 100%;
    position: relative;
    display: block;
    background: #000;
    .bs-box {
      width: 100%;
      padding: 320px 0 578px;
      position: relative;
      overflow-x: hidden;
      .box-tit {
        width: fit-content;
        margin: 0 auto 120px;
      }
      .bs-card-wrap {
        width: 560px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        .card {
          width: 560px;
          height: 820px;
          border-radius: 30px;
          overflow: hidden;
          flex-shrink: 0;
          position: relative;
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.90) 100%)
          }
          .img {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .text {
            position: absolute;
            top: 11vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
          }
          & + .card {
            margin-left: 300px;
          }
        }
      }
      .text {
        position: absolute;
        img {
          width: 100%;
          object-fit: cover;
        }
        &.en-text {
          left: 120px;
          bottom: 478px;
        }
        &.ko-text {
          right: 120px;
          bottom: 320px;
        }
      }
    }
  }
}
// business

// Media
.main-media {
  padding: 320px 0;
  width: 100%;
  position: relative;
  .media-inner {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .sticky-wrap {
      width: 277px;
      height: 914px;
      padding: 40px;
      background: var(--primary-1-eco-green, #38D430);
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .sticky-tit {
        margin-right: auto;
      }
    }
    .tab {
      // width: calc(100% - 277px);
      // padding: 40px 40px 40px 80px;
      width: 100%;
      padding: 0;
      position: relative;
      .menu {
        width: 100%;
        margin-bottom: 80px;
        .menu-list {
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          li {
            & + li {
              margin-left: 60px;
            }
            button {
              cursor: pointer;
              background: transparent;
              border: none;
              outline: none;
              color: #666;
              font-size: 42px;
              font-weight: 600;
              line-height: 1.4;
              border-bottom: 1px solid transparent;
              &.active {
                color: var(--primary-1-eco-green, #38D430);
                border-color: #38D430;
              }
            }
          }
        }
      }
      .tab-list {
        height: 887px;
        .list {
          width: 100%;
          position: relative;
          li {
            & + li {
              margin-top: 20px;
              padding-top: 20px;
              border-top: 1px solid #333;
            }
            .box {
              width: 100%;
              position: relative;
              padding: 40px 0;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              .arrow {
                width: 60px;
                height: 60px;
                position: relative;
                background: url(/HD/static/images/arrow-icon.png) no-repeat;
                background-position: center;
                background-size: contain;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
}
// Media

// GROUP ESG
.group-esg {
  width: 100%;
  position: relative;
  padding: 188px 0 160px;
  .esg-pin {
    width: 100%;
    position: relative;
    height: 920px;
    overflow: hidden;
    .esg-box {
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .img-wrap {
        width: calc(50% - 20px);
        height: 920px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text-wrap {
        width: calc(50% - 20px);
        height: 920px;
        position: relative;
        background-image: linear-gradient(to top, #1A1718 92%, transparent 8%);
        .num {
          position: absolute;
          top: 80px;
          left: 40px;
          z-index: 99;
        }
        .text {
          position: absolute;
          left: 40px;
          bottom: 80px;
        }
      }
      &.box2 {
        position: absolute;
        top: 100%;
        .text-wrap {
          .text {
            bottom: 160px;
          }
        }
      }
      &.box3 {
        position: absolute;
        top: 200%;
        .text-wrap {
          .text {
            bottom: 240px;
          }
        }
      }
    }
  }
}
// GROUP ESG

// HD현대 in social
.main-social {
  width: 100%;
  position: relative;
  padding: 160px 0;
  .section-tit {
    margin-bottom: 120px;
  }
  .scroll-inner {
    width: calc(100% + 160px);
    margin-left: -80px;
    padding-left: 80px;
    overflow-x: hidden;
  } 
  .social-swiper {
    width: 100%;
    position: relative;
    padding-right: 80px;
    li {
      width: 560px;
      & + li {
        margin-left: 40px;
      }
      a {
        width: 100%;
        position: relative;
        display: block;
        .thumb-img {
          width: 560px;
          height: 560px;
          border-radius: 30px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(/HD/static/images/hover_opacity.png) no-repeat;
            background-position: center;
            background-size: cover;
            opacity: 0;
            transition: opacity 0.5s;
          }
          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
        .sns-name {
          margin: 27px 0 0 20px;
        }
      }
      &.circle {
        .inner {
          .thumb-img {
            border-radius: 50%;
          }
        }
      }
    }
  }
  .social-progress-bar {
    position: relative;
    margin-top: 79px;
    width: 375px;
    .swiper-pagination-progressbar {
      background: #333;
      height: 2px;
      .swiper-pagination-progressbar-fill {
        background: #38D430;
      }
    }
  }
}
// HD현대 in social

// 주가정보
.stock {
  width: 100%;
  position: relative;
  padding: 190px 0 120px;
  .inner {
    .top-info {
      position: relative;
      margin-bottom: 20px;
    }
    .all-flex {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 80px;
      border-bottom: 2px solid var(--primary-6-white, #FFF);
      .left {
        display: flex;
        align-items: flex-end;
        .counter {
          color: var(--primary-6-white, #FFF);
          font-size: 120px;
          font-weight: 700;
          line-height: 1.2;
        }
        .num {
          margin-left: 40px;
        }
      }
      .right {
        a + a {
          margin-left: 40px;
        }
      }
    }
  }
}
// 주가정보