@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gibson";
  font-weight: 200;
  font-display: swap;
  src: local("GibsonLight"), url("../font/GibsonLight.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 300;
  font-display: swap;
  src: local("GibsonSemiBd"), url("../font/GibsonSemiBd.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 400;
  font-display: swap;
  src: local("GibsonBold"), url("../font/GibsonBold.otf") format("opentype");
}
/* basic-reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Nanum Myeongjo", "Roboto", Arial, Dotum, serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: none;
  font-weight: 500;
  line-height: 130%;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  font-size: 100%;
}

input,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

caption {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

/* box-header */
.box-header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 112px;
  z-index: 1000;
  will-change: transform, background, backdrop-filter;
  transition: transform 500ms, background-color 500ms;
}
.box-header.hide {
  transform: translateY(-100%);
}
.box-header.is-hover, .box-header.is-active {
  border-bottom: 1px solid var(--Stroke-list, #ddd);
  background: var(--Material-bg, rgba(255, 255, 255, 0.9));
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.box-header.is-hover::after, .box-header.is-active::after {
  display: none;
}
.box-header.is-hover h1 a, .box-header.is-active h1 a {
  background-image: url("../images/logo_h1_active.svg");
}
.box-header.is-hover .gnb, .box-header.is-active .gnb {
  background-image: url("../images/gnb_active.png");
}
.box-header.is-hover .etc, .box-header.is-active .etc {
  background-image: url("../images/header_etc_active.png");
}
.box-header::after {
  content: "";
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.box-header h1,
.box-header .gnb,
.box-header .etc {
  position: relative;
  z-index: 1100;
}
.box-header h1 {
  position: absolute;
  top: 39px;
  left: 96px;
}
.box-header h1 a {
  display: block;
  background-image: url("../images/logo_h1.svg");
  width: 150px;
  height: 32px;
  will-change: background-image;
  transition: 0.4s background-image;
}
.box-header .gnb {
  background-image: url(../images/gnb.png);
  width: 642px;
  height: 112px;
  will-change: background-image;
  transition: 0.4s background-image;
}
.box-header .etc {
  position: absolute;
  top: 39px;
  right: 98px;
  background-image: url(../images/header_etc.png);
  width: 252px;
  height: 36px;
  will-change: background-image;
  transition: 0.4s background-image;
}

/* //box-header */
.wrap {
  position: relative;
  overflow-y: hidden !important;
}

.box-intro {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  position: relative;
}
.box-intro .box-text {
  color: var(--Font-dark, #000);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.box-intro .box-text .text {
  position: relative;
  overflow: hidden;
}
.box-intro .box-text .text .gap {
  /* Heading/Heading 72 */
  font-family: "Welstory gothic";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 72px */
  letter-spacing: -0.075em;
  will-change: auto;
  display: block;
  transform: translateY(100%);
  opacity: 1;
}
.box-intro .box-text .text .gap.is-none {
  transform: none;
}
.box-intro .box-text .text .gap .right-gap {
  transition: padding 0.4s;
  will-change: padding;
}
.box-intro .box-text .text .gap .right-gap.is-active {
  padding: 0 81px 0 0;
}

.box-top-kv {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.box-kv-cover {
  width: 0;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 4px), calc(-50% - 45px));
  border-top-right-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 30;
  overflow: hidden;
  will-change: auto;
  transition: 0.4s width;
  background-color: #00040e;
}
.box-kv-cover.is-active {
  width: 63px;
}
.box-kv-cover.end {
  transform: translate(-50%, -50%);
  transition: 2s transform, 2s top, 2s left, 2s width, 2s height, 0.4s border-radius;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  border-radius: 30px;
}
.box-kv-cover.border {
  border-radius: 0;
}

.box-kv {
  overflow: hidden;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-height: 100vh;
}
.box-kv video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-kv .text-1 {
  position: absolute;
  bottom: 86px;
  left: 96px;
  color: var(--Basic-1, #fff);
  text-align: center;
  font-family: "Welstory gothic";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
  letter-spacing: -3.84px;
  z-index: 10;
}
.box-kv .icon {
  position: absolute;
  bottom: 86px;
  right: 96px;
  width: 60px;
  height: 60px;
  display: block;
  z-index: 10;
}
.box-kv::after {
  z-index: 8;
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75.77%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.box-img-cover {
  position: relative;
  padding: 5vw;
  z-index: 20;
  background-color: #fff;
}
.box-img-cover .inner {
  overflow: hidden;
  height: 70vh;
  position: relative;
}
.box-img-cover .inner .bg-container {
  position: absolute;
  width: 100%;
  height: 130%;
  top: 50%;
  right: 0;
  margin: 0 auto;
  will-change: transform;
}
.box-img-cover .inner .bg-container::after {
  content: "";
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}
.box-img-cover .inner .bg-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#lottie {
  width: 100%;
  height: 100vh;
}

.box-section-fixed::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-section-fixed .list-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 117px 96px;
  z-index: 10;
}
.box-section-fixed .list-text li {
  position: relative;
  padding-bottom: 30px;
  display: block;
}
.box-section-fixed .list-text li.is-active {
  color: var(--Primary-1, #fff);
}
.box-section-fixed .list-text li.is-active a {
  color: var(--Primary-1, #fff);
}
.box-section-fixed .list-text li.is-active a::after {
  width: 100%;
}
.box-section-fixed .list-text li a {
  color: var(--transparent-w-60, rgba(255, 255, 255, 0.6));
  pointer-events: none;
  /* Heading/Heading 64 */
  font-family: "Welstory gothic";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
  letter-spacing: -3.84px;
  position: relative;
  will-change: color;
  transition: color 0.4s;
}
.box-section-fixed .list-text li a:hover::after {
  width: 100%;
}
.box-section-fixed .list-text li a::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  border-bottom: 4px solid var(--Primary-1, #fff);
  transition: width 0.4s;
  will-change: width;
}
.box-section-fixed .list-text-2 {
  position: absolute;
  top: 87vh;
  right: 93px;
  z-index: 10;
  will-change: transform;
}
.box-section-fixed .list-text-2 li {
  position: absolute;
  bottom: 0;
  right: 0;
}
.box-section-fixed .list-text-2 li.is-active .text-1 {
  opacity: 1;
}
.box-section-fixed .list-text-2 li .text-1 {
  color: var(--Primary-1, #fff);
  /* Title/md 01 01 */
  font-family: "Welstory gothic";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 28px */
  letter-spacing: -0.84px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 1.5s;
  text-align: left;
  width: 602px;
}
.box-section-fixed section {
  height: 100vh;
}
.box-section-fixed .video-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 101vh;
  transform: translate(-50%, 0);
}
.box-section-fixed .video-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff5624;
  opacity: var(--after-opacity, 0);
  transition: 1s -webkit-clip-path;
  transition: 1s clip-path;
  transition: 1s clip-path, 1s -webkit-clip-path;
  -webkit-clip-path: var(--after-clip-path, ellipse(100vw 100vh at 14% 50%));
          clip-path: var(--after-clip-path, ellipse(100vw 100vh at 14% 50%));
}
.box-section-fixed .video-wrapper video {
  width: 100%;
  height: 101vh;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: opacity;
  transition: 2s opacity, 1s -webkit-clip-path;
  transition: 2s opacity, 1s clip-path;
  transition: 2s opacity, 1s clip-path, 1s -webkit-clip-path;
  -webkit-clip-path: ellipse(100vw 100vh at 14% 50%);
          clip-path: ellipse(100vw 100vh at 14% 50%);
}
.box-section-fixed .video-wrapper video.is-active {
  opacity: 1;
}

.box-logo-motion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-logo-motion > span {
  position: relative;
}
.box-logo-motion > span .left-motion {
  position: absolute;
  top: 25px;
  left: 0;
}
.box-logo-motion > span .right-motion {
  position: absolute;
  top: 25px;
  right: 0;
}
.box-logo-motion > span > .hidden {
  overflow: hidden;
  display: block;
  opacity: 1;
  transition: 0.4s opacity;
  will-change: opacity;
}
.box-logo-motion > span > .hidden img {
  transform: translateY(-4px);
}
.box-logo-motion > span .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  display: flex;
  flex-flow: column;
  gap: 24px;
}
.box-logo-motion > span .box-text .hidden {
  overflow: hidden;
  display: block;
}
.box-logo-motion > span .box-text .hidden span {
  color: var(--Font-dark, #000);
  text-align: center;
  display: block;
  /* Heading/Heading 64 */
  font-family: "Welstory gothic";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 64px */
  letter-spacing: -3.84px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform, opacity;
  will-change: transform, opacity;
}
.box-logo-motion > span .btn {
  position: absolute;
  bottom: -71px;
  left: 50%;
  transform: translate(-50%, 0);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: block;
  opacity: 0;
}
.box-logo-motion > span .btn span {
  padding-right: 35px;
  position: relative;
  color: var(--Font-dark, #000);
  /* Button/md 03 01 */
  font-family: Gibson;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: 100%; /* 24px */
  text-transform: uppercase;
}
.box-logo-motion > span .btn span:after {
  content: "";
  display: block;
  background-image: url("../images/icon_arrow.svg");
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
}

.box-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 10;
}
.box-solution .top-text {
  margin-bottom: 148px;
}
.box-solution .top-text * {
  text-align: center;
}
.box-solution .top-text .text-2 {
  padding: 36px 0 28px 0;
}
.box-solution .box-card {
  display: flex;
  gap: 16px;
}
.box-solution .box-card span {
  flex: 1 1 40%;
}
.box-solution .box-card span img {
  width: 100%;
}

.box-solution-tab {
  height: 100vh;
  z-index: 30;
  position: relative;
  opacity: 0;
  transition: opacity 0.4s;
  will-change: opacity;
}
.box-solution-tab.is-active {
  opacity: 1;
}
.box-solution-tab #mainVisual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100.1vh;
}
.box-solution-tab #mainVisual .box-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-solution-tab #mainVisual .box-img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 74.09%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 75.77%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.box-solution-tab #mainVisual .box-img div {
  opacity: 0;
  transition: opacity 1s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-solution-tab #mainVisual .box-img div.is-active {
  opacity: 1;
}
.box-solution-tab #mainVisual .main_bg {
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: center no-repeat;
  background-size: cover;
}
.box-solution-tab #mainVisual .main_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  font-size: 15px;
  color: #fff;
}
.box-solution-tab #mainVisual .main_txt .tit {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -0.2px;
  color: #fff;
  border-radius: 24px;
  background: var(--transparent-b-16, rgba(0, 0, 0, 0.16));
  /* Material Blur */
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.box-solution-tab #mainVisual .main_slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.box-solution-tab #mainVisual .main_slide .swiper-slide {
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  width: 978px;
}
.box-solution-tab #mainVisual .main_slide .swiper-slide::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 74.09%, rgba(0, 0, 0, 0.1) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 75.77%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
}
.box-solution-tab #mainVisual .box-controll {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 30;
}
.box-solution-tab #mainVisual .box-controll::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--transparent-w-40, rgba(255, 255, 255, 0.4));
}
.box-solution-tab #mainVisual .box-controll a {
  display: block;
  flex: 1 1 0;
  padding: 30px 0;
  color: var(--transparent-w-80, rgba(255, 255, 255, 0.8));
  text-align: center;
  /* Button/md 04 01 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22px */
  position: relative;
}
.box-solution-tab #mainVisual .box-controll a::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
  width: 0;
}
.box-solution-tab #mainVisual .box-controll a.is-active {
  color: var(--Primary-1, #fff);
}
.box-solution-tab #mainVisual .box-controll a.progress::after {
  transition: width 3s;
  background-color: #fff;
  width: 100%;
}

.box-gallery {
  background-color: #fff;
  padding: 96px 0;
  /* 전체 슬라이더 컨테이너 */
}
.box-gallery .section-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.box-gallery .section-inner ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  will-change: transform;
}
.box-gallery .section-inner ul .img-holder {
  width: 351px;
}

.box-make {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 31vh;
  position: relative;
}
.box-make .img {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  will-change: widht, height;
  transition: 0.3s width, 0.4s height;
}
.box-make .img img {
  width: auto;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: widht, height;
  transition: 0.3s width, 0.4s height;
}
.box-make .img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.box-new {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */