@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/HD/static/fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Bold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/HD/static/fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/HD/static/fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 400;
  font-display: swap;
  src: local("PPNeueMontreal Regular"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  font-display: swap;
  src: local("PPNeueMontreal Medium"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  font-display: swap;
  src: local("PPNeueMontreal Bold"), url("/HD/static/fonts/PPNeueMontreal-Book.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  height: 100%;
}

body.dark {
  background: #1a1718;
}
body.white {
  background: #f4f4f4;
}
body.white .wrap {
  background: #f4f4f4;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}

input,
textarea {
  border-radius: 0;
  resize: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}

body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}

caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}

img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}

fieldset {
  font-size: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

i,
em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* gate */
.box-gate {
  background-color: #000;
}
.box-gate .box-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-gate h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
.box-gate .txt-1,
.box-gate .txt-2,
.box-gate .txt-3 {
  position: absolute;
}
.box-gate .txt-1 {
  top: 30px;
  right: 40px;
}
.box-gate .txt-2 {
  bottom: 40px;
  left: 40px;
}
.box-gate .txt-3 {
  bottom: 40px;
  right: 40px;
}
.box-gate .box-type {
  position: relative;
}
.box-gate .box-type + .box-type {
  margin-left: 16px;
}
.box-gate .box-type .btn-pc,
.box-gate .box-type .btn-mobile {
  position: absolute;
  bottom: 40px;
  width: 244px;
  height: 60px;
}
.box-gate .box-type .btn-pc {
  left: 30px;
}
.box-gate .box-type .btn-mobile {
  right: 30px;
}

.img-holder span,
.img-holder a {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
.img-holder span img,
.img-holder a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-header {
  position: fixed;
  top: -100%;
  left: 48px;
  right: 48px;
  background-blend-mode: multiply;
  height: 72px;
  z-index: 5000;
  padding: 20px 0;
  border-bottom: 1px solid var(--Transparent-w_60, rgba(255, 255, 255, 0.6));
  transition: all 0.4s;
  animation: header 1.9s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes header {
  to {
    top: 0;
  }
}
.box-header::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: -48px;
  right: -48px;
  height: 72px;
  transition: all 0.4s;
}
.box-header .inner .gap {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.box-header .inner .gap.default {
  opacity: 1;
}
.box-header .inner .gap.scroll {
  opacity: 0;
}
.box-header .inner img {
  object-fit: contain;
}
.box-header .inner .scroll {
  opacity: 0;
  pointer-events: none;
}
.box-header.scroll {
  height: 73px;
  border-bottom: 1px solid var(--Transparent-b_60, rgba(0, 0, 0, 0.6));
}
.box-header.scroll::before {
  background: var(--Gray-white, #fff);
}
.box-header.scroll .gap.default {
  opacity: 0;
  pointer-events: none;
  height: 0;
}
.box-header.scroll .gap.scroll {
  opacity: 1;
  pointer-events: all;
}

.box-main-kv .swiper-slide {
  width: 100vw;
  height: 100vh;
}
.box-main-kv .swiper-slide .img {
  position: relative;
}
.box-main-kv .swiper-slide .img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -3.2%, rgba(0, 0, 0, 0) 50%), linear-gradient(180deg, rgba(0, 0, 0, 0.6) -22.4%, rgba(0, 0, 0, 0) 50%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.box-main-kv .swiper-slide .img img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.box-main-kv .swiper-slide .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-main-kv .bottom-img {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  animation: bottomImg 2s infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes bottomImg {
  to {
    bottom: 0;
  }
}
.box-main-kv .swiper-button-next,
.box-main-kv .swiper-button-prev {
  display: block !important;
  background-color: transparent;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 80%;
  width: 0%;
  animation: nextPrev 1s linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.box-main-kv .swiper-button-next:focus,
.box-main-kv .swiper-button-prev:focus {
  border: none;
  outline: none;
}
.box-main-kv .swiper-button-next::after,
.box-main-kv .swiper-button-prev::after {
  display: none;
}
@keyframes nextPrev {
  to {
    width: 50%;
  }
}
.box-main-kv .swiper-button-prev {
  right: auto;
}
.box-main-kv .swiper-button-next {
  left: auto;
}

.window-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s, width 0.3s, height 0.3s;
  z-index: 4000;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 0.8px solid var(--Gray-white, #fff);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.window-cursor .swiper-button-cion {
  opacity: 0;
}
.window-cursor.main-swiperButton-prev, .window-cursor.main-swiperButton-next {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-content: center;
  mix-blend-mode: inherit;
}
.window-cursor.main-swiperButton-prev .swiper-button-cion, .window-cursor.main-swiperButton-next .swiper-button-cion {
  opacity: 1;
  width: 30px;
  height: 30px;
}
.window-cursor.main-swiperButton-prev .swiper-pagination, .window-cursor.main-swiperButton-next .swiper-pagination {
  opacity: 1;
}
.window-cursor.main-swiperButton-prev .svg, .window-cursor.main-swiperButton-next .svg {
  opacity: 1;
}
.window-cursor.main-swiperButton-prev .swiper-button-cion {
  transform: rotate(180deg);
}
.window-cursor .swiper-pagination {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 0);
  border-radius: 4px;
  background: var(--Transparent-b_40, rgba(0, 0, 0, 0.4));
  color: var(--Gray-white, #fff);
  font-size: 12px;
  font-weight: normal;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
  display: flex;
  width: 60px;
  height: 24px;
  padding: 6px 7px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.window-cursor .svg {
  opacity: 0;
}
.window-cursor .svg svg {
  border-radius: 999;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 94px;
  height: 94px;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
}
.window-cursor .svg svg.svg-ani {
  animation: stroke-ani 12.5s linear;
}
@keyframes stroke-ani {
  from {
    stroke-dashoffset: 630;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.box-location {
  background-color: #fff;
  position: relative;
}
.box-location::after {
  content: "";
  display: block;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  background: var(--Gray-5, #f0f0f0);
}
.box-location .inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 108px 0 120px;
  position: relative;
  z-index: 1000;
}
.box-location .inner .top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}
.box-location .inner .top-info img {
  object-fit: contain;
}
.box-location .inner .top-info img.posi {
  position: relative;
  top: 2px;
  right: 2px;
}
.box-location .inner .swiper-location *:hover {
  cursor: grab;
}
.box-location .swiper-button-prev,
.box-location .swiper-button-next {
  width: 49px;
  height: 49px;
  display: block;
  opacity: 1;
  z-index: 3000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='49' viewBox='0 0 49 49' fill='none'%3E%3Cpath d='M32.9116 7.12256L16.9116 24.4559L32.9116 41.7892' stroke='white'/%3E%3C/svg%3E");
  top: 50%;
}
.box-location .swiper-button-prev:hover,
.box-location .swiper-button-next:hover {
  cursor: pointer;
}
.box-location .swiper-button-prev::after,
.box-location .swiper-button-next::after {
  content: "";
  opacity: 1;
}
.box-location .swiper-button-prev.swiper-button-disabled,
.box-location .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
}
.box-location .swiper-button-prev {
  left: 0;
  right: auto;
  transform: translate(calc(-50% - 68px), calc(-50% - 19px));
}
.box-location .swiper-button-next {
  left: auto;
  right: 0;
  transform: rotate(180deg) translate(calc(-50% - 62px), calc(-50% + 67px));
}

.box-special {
  background: var(--NineTree-Secondary-1, #776f68);
}
.box-special .inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 0 79px;
  position: relative;
  z-index: 1000;
}
.box-special .inner .top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.box-special .inner .top-info img {
  object-fit: contain;
}
.box-special .inner .top-info img.posi {
  position: relative;
  top: 2px;
  right: 2px;
}
.box-special .inner .swiper-special *:hover {
  cursor: grab;
}
.box-special .swiper-button-prev,
.box-special .swiper-button-next {
  width: 49px;
  height: 49px;
  display: block;
  opacity: 1;
  z-index: 3000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='49' viewBox='0 0 49 49' fill='none'%3E%3Cpath d='M32.9116 7.12256L16.9116 24.4559L32.9116 41.7892' stroke='white'/%3E%3C/svg%3E");
  top: 50%;
}
.box-special .swiper-button-prev:hover,
.box-special .swiper-button-next:hover {
  cursor: pointer;
}
.box-special .swiper-button-prev::after,
.box-special .swiper-button-next::after {
  content: "";
  opacity: 1;
}
.box-special .swiper-button-prev.swiper-button-disabled,
.box-special .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
}
.box-special .swiper-button-prev {
  left: 0;
  right: auto;
  transform: translate(calc(-50% - 68px), calc(-50% - 19px));
}
.box-special .swiper-button-next {
  left: auto;
  right: 0;
  transform: rotate(180deg) translate(calc(-50% - 62px), calc(-50% + 67px));
}

.box-gallery .inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 0 120px;
  position: relative;
  z-index: 1000;
}
.box-gallery .inner .top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
.box-gallery .inner .top-info img {
  object-fit: contain;
}
.box-gallery .inner .top-info img.posi {
  position: relative;
  top: 2px;
  right: 2px;
}
.box-gallery .inner .swiper-gallery *:hover {
  cursor: grab;
}
.box-gallery .swiper-button-prev,
.box-gallery .swiper-button-next {
  width: 49px;
  height: 49px;
  display: block;
  opacity: 1;
  z-index: 3000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='49' viewBox='0 0 49 49' fill='none'%3E%3Cpath d='M32.9116 7.12256L16.9116 24.4559L32.9116 41.7892' stroke='white'/%3E%3C/svg%3E");
  top: 50%;
}
.box-gallery .swiper-button-prev:hover,
.box-gallery .swiper-button-next:hover {
  cursor: pointer;
}
.box-gallery .swiper-button-prev::after,
.box-gallery .swiper-button-next::after {
  content: "";
  opacity: 1;
}
.box-gallery .swiper-button-prev.swiper-button-disabled,
.box-gallery .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
}
.box-gallery .swiper-button-prev {
  left: 0;
  right: auto;
  transform: translate(calc(-50% - 68px), calc(-50% + 54px));
}
.box-gallery .swiper-button-next {
  left: auto;
  right: 0;
  transform: rotate(180deg) translate(calc(-50% - 62px), calc(-50% - 3px));
}

.ct_text_1 {
  text-align: center;
  padding: 0 0 23px 0;
}

.box-footer-ct {
  background: var(--NineTree-Secondary-2, #8f6e54);
}
.box-footer-ct .inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 80px 0 80px;
  position: relative;
  z-index: 1000;
}
.box-footer-ct .flex {
  display: flex;
  justify-content: space-between;
}
.box-footer-ct .flex + .flex {
  margin-top: 120px;
}

.box-footer {
  background: var(--Gray-bg, #f9f9f9);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-footer img {
  object-fit: contain;
}/*# sourceMappingURL=style.css.map */