@charset "utf-8";

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}
input,
textarea {
  border-radius: 0;
  resize: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}
body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}
caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}
img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}
fieldset {
  font-size: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
i,
em,
address {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: none;
}
input[type="submit"] {
  cursor: pointer;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
body {
  overflow: hidden;
}
// reset

/* gate */
.box-gate {
  background-color: #000;
  .box-flex {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  h1 {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .txt-1,
  .txt-2,
  .txt-3 {
    position: absolute;
  }
  .txt-1 {
    top: 30px;
    right: 40px;
  }
  .txt-2 {
    bottom: 40px;
    left: 40px;
  }
  .txt-3 {
    bottom: 40px;
    right: 40px;
  }
  .box-type {
    position: relative;
    & + .box-type {
      margin-left: 16px;
    }
    .btn-flex {
      width: calc(100% - 60px);
      position: absolute;
      bottom: 44px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 10px;
      .btn {
        width: 100%;
        height: 60px;
        background-position: center !important;
        background-size: contain !important;
      }
    }
  }
}

// header
.header {
  width: 100%;
  position: relative;
  z-index: 9999;
  .top-noti {
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s all;
    background: var(--primary-3, #877355);
    border-bottom: 4px solid var(--primary-4, #a88f6a);
    position: relative;
    img {
      width: 100%;
      height: 60px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1920px;
    }
  }
  .gnb {
    width: 100%;
    position: relative;
    padding: 16px 160px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 0.6s all;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0.16;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .on {
      display: none;
    }
    .top {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 360px;
      }
      .right {
        width: 104px;
      }
    }
    .middle {
      width: 100%;
      height: 59px;
      max-width: 1600px;
      position: absolute;
      top: 33px;
      left: 50%;
      transform: translateX(-50%);
      .logo {
        width: 182px;
        height: 60px;
        background: url(../images/header_4.png) no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s all;
        img {
          transform: 0.5s;
        }
      }
      .right {
        width: 124px;
        position: absolute;
        bottom: 0;
        right: -1px;
      }
    }
    .bottom {
      width: 100%;
      position: relative;
      margin-top: 66px;
      .left {
        width: 240px;
      }
      .right {
        width: 660px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.on {
    .gnb {
      background: #fff;
      padding: 9px 160px;
      height: 77px;
      position: fixed;
      top: 0;
      left: 0;
      .top {
        display: none;
      }
      .middle {
        top: 9px;
        .logo {
          background: url(../images/header_4_on.png) no-repeat;
          width: 146px;
          height: 49px;
          top: 4px;
        }
        img {
          display: none;
          &.right {
            &.on {
              display: block;
            }
            bottom: auto;
            top: 16px;
            width: 240px;
          }
        }
      }
      .bottom {
        margin-top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        top: -2px;
        img {
          display: none;
          &.on {
            display: block;
          }
        }
      }
    }
  }
}

// pc
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vmax;
  height: 100vmax;
  background-color: #fff;
  z-index: 9999;
  cursor: none;
}
.box-main {
  margin-top: -180px;
  .top-vs {
    position: relative;
    height: 800px;
    #section1 {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1800px;
      z-index: 2;
      overflow: hidden;
      background-color: #fff;
      background-size: cover;
      background-position: center;
      background-image: url(../images/main/box_0_1.png);
    }
    .text {
      position: absolute;
      transition: all 0.1s;
      top: 788px;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 99999;
    }
  }
}
.right-bottom-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 444;
  width: 64px;
  height: 200px;
}

.inner-gap-1,
.inner-gap-2 {
  margin: 0 auto;
}
.inner-gap-1 {
  max-width: 1600px;
}
.inner-gap-2 {
  max-width: 1920px;
}

.swiper-1 {
  padding: 200px 0 0 0;
  position: relative;
  .tit-1 {
    text-align: center;
    padding: 0 0 41px 0;
  }
  .box-flex {
    display: flex;
    padding: 0 135px;
    .img-1 {
      width: 520px;
      margin-right: 20px;
    }
    .mySwiper {
      width: 790px;
      cursor: grab;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 126px));
  width: 51px !important;
  height: 51px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 51px !important;
  &::after {
    content: "" !important;
    width: 51px !important;
    height: 51px !important;
  }
}
.swiper-button-prev {
  left: 39px !important;
  background-image: url(../images/main/box_2_5.png);
}
.swiper-button-next {
  right: 39px !important;
  background-image: url(../images/main/box_2_6.png);
}
.swiper-scrollbar {
  height: 1px !important;
  border-radius: 0 !important;
  background: #c5beb4 !important;
  z-index: 4 !important;
}
.swiper-scrollbar-drag {
  background-color: #000 !important;
}
.swiper-2 {
  padding: 100px 0 0 0;
  position: relative;
  .img-1 {
    position: absolute;
    top: 92px;
    left: 0;
    z-index: 2;
  }
  .tit-1 {
    text-align: center;
    padding: 0 0 40px 0;
  }
  .box-flex {
    padding: 0 135px;
    .swiper-slide {
      img {
        width: 655px;
        height: 655px;
        margin-right: 0;
        margin-left: 7px;
        margin-top: 100px;
        &:nth-child(1) {
          margin-right: 7px;
          margin-left: 0;
          margin-top: 0;
        }
      }
    }
  }
  .swiper-button-prev {
    transform: translateY(calc(-50% + 42px));
  }
  .swiper-button-next {
    transform: translateY(calc(-50% + 141px));
  }
}
.swiper-3 {
  padding: 100px 0 0 0;
  position: relative;
  cursor: grab;
  .tit-1 {
    padding-bottom: 39px;
  }
  .mySwiper {
    padding-bottom: 55px;
  }
  .box-flex {
    padding: 0 135px;
    .swiper-slide {
      width: 520px;
    }
  }
  .swiper-scrollbar {
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: auto !important;
    position: static !important;
    margin-top:50px;
  }
}
.box-pd {
  padding: 45px 0 0 0;
  .tit-1 {
    padding-bottom: 10px;
  }
  .box-gap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:370px 0 300px 0;
    .img {
      position: absolute;
      &.img-2 {
        left:0;
        top:70px;
      }
      &.img-3 {
        right:0;
        top:71px;
      }
      &.img-4 {
        left:0;
        bottom:0;
      }
      &.img-5 {
        right:0;
        bottom:0;
      }
    }
  }
}