@charset "utf-8";

// font
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src:
    local("Pretendard Bold"),
    url("/HD/static/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("/HD/static/fonts/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src:
    local("Pretendard SemiBold"),
    url("/HD/static/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("/HD/static/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src:
    local("Pretendard Medium"),
    url("/HD/static/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("/HD/static/fonts/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src:
    local("Pretendard Regular"),
    url("/HD/static/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("/HD/static/fonts/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 400;
  font-display: swap;
  src:
    local("PPNeueMontreal Regular"),
    url("/HD/static/fonts/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/HD/static/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  font-display: swap;
  src:
    local("PPNeueMontreal Medium"),
    url("/HD/static/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
    url("/HD/static/fonts/PPNeueMontreal-Medium.woff") format("woff");
}

@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  font-display: swap;
  src:
    local("PPNeueMontreal Bold"),
    url("/HD/static/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
    url("/HD/static/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
// font

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}
input,
textarea {
  border-radius: 0;
  resize: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}
body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}
caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}
img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}
fieldset {
  font-size: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
i,
em,
address {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: none;
}
input[type="submit"] {
  cursor: pointer;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
button {
  background: transparent;
  border: none;
  outline: none;
}
.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
// reset

/* gate */
.box-gate {
  background-color: #000;
  .box-flex {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  h1 {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .txt-1,
  .txt-2,
  .txt-3 {
    position: absolute;
  }
  .txt-1 {
    top: 30px;
    right: 40px;
  }
  .txt-2 {
    bottom: 40px;
    left: 40px;
  }
  .txt-3 {
    bottom: 40px;
    right: 40px;
  }
  .box-type {
    position: relative;
    & + .box-type {
      margin-left: 16px;
    }
    .btn-pc,
    .btn-mobile {
      position: absolute;
      bottom: 40px;
      width: 244px;
      height: 60px;
    }
    .btn-pc {
      left: 30px;
    }
    .btn-mobile {
      right: 30px;
    }
  }
}

// header
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .top-noti {
    width: 100%;
    height: 60px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gnb {
    width: 100%;
    position: relative;
    padding: 16px 160px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 100%);
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0.16;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .top {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 360px;
      }
      .right {
        width: 104px;
      }
    }
    .middle {
      width: 100%;
      height: 59px;
      max-width: 1600px;
      position: absolute;
      top: 33px;
      left: 50%;
      transform: translateX(-50%);
      .logo {
        width: 181px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .right {
        width: 124px;
        position: absolute;
        bottom: 0;
        right: -1px;
      }
    }
    .bottom {
      width: 100%;
      position: relative;
      margin-top: 66px;
      .left {
        width: 240px;
      }
      .right {
        width: 660px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// pc
.loading {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.box-main {
  .top-vs {
    position: relative;
    height: 800px;
    #section1 {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 800px;
      z-index: 2;
      overflow: hidden;
      background-color: #fff;
      background-size: cover;
      background-position: center;
      background-image: url(../images/main/box_0_1.png);
    }
    .text {
      position: absolute;
      transition: all .1s;
      top:743px;
      left:50%;
      z-index: 99999;
      transform: translate(-50%, 0);
    }
  }
}

.swiper-1{
  .tit-1{
    text-align: center;
  }
}