@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}

input,
textarea {
  border-radius: 0;
  resize: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}

body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}

caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}

img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}

fieldset {
  font-size: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

i,
em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

body {
  overflow: hidden;
}

/* gate */
.box-gate {
  background-color: #000;
}
.box-gate .box-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-gate h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
.box-gate .txt-1,
.box-gate .txt-2,
.box-gate .txt-3 {
  position: absolute;
}
.box-gate .txt-1 {
  top: 30px;
  right: 40px;
}
.box-gate .txt-2 {
  bottom: 40px;
  left: 40px;
}
.box-gate .txt-3 {
  bottom: 40px;
  right: 40px;
}
.box-gate .box-type {
  position: relative;
}
.box-gate .box-type + .box-type {
  margin-left: 16px;
}
.box-gate .box-type .btn-flex {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
}
.box-gate .box-type .btn-flex .btn {
  width: 100%;
  height: 60px;
  background-position: center !important;
  background-size: contain !important;
}

/* 견적 */
.box-bg {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/main_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.box-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(195, 195, 195, 0.3);
  backdrop-filter: blur(50px);
}
.box-popup .inner {
  margin: 32px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background-color: #fff;
  width: calc(100vw - 64px);
  height: calc(100vh - 64px);
  overflow: hidden;
}
.box-popup .inner .btn-close {
  position: absolute;
  top: 96px;
  right: 85px;
  transition: all 0.4s;
}
.box-popup .inner .btn-close:hover {
  transform: rotate(95deg);
}
.box-popup .inner .box-left {
  display: flex;
  width: 310px;
  padding: 64px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.box-popup .inner .box-left .gnb li {
  margin-bottom: 10px;
}
.box-popup .inner .box-left .gnb li a {
  display: block;
}
.box-popup .inner .box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  background: #f4f4f6;
  position: relative;
}
.box-popup .inner .box-right .top-info {
  padding: 64px 56px;
}
.box-popup .inner .box-right .top-info h2 {
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 40px */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.box-popup .inner .box-right .top-info .text-1 {
  color: var(--Font-5, #666);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}
.box-popup .inner .box-right .center-info {
  display: none;
  text-align: center;
  width: 100%;
}
.box-popup .inner .box-right .center-info[data-index="6"] {
  text-align: left;
  padding-left: 56px;
}
.box-popup .inner .box-right .center-info[data-index="7"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  display: none;
}
.box-popup .inner .box-right .center-info .scroll {
  height: calc(100vh - 387px);
  overflow-y: scroll;
}
.box-popup .inner .box-right .center-info .scroll::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.box-popup .inner .box-right .center-info .scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #d9d9d9 0%, #d9d9d9 100%), rgba(0, 0, 0, 0.1);
  border-radius: 999px;
}
.box-popup .inner .box-right .center-info .scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.box-popup .inner .box-right .center-info .number-step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 8px;
}
.box-popup .inner .box-right .center-info .number-step span {
  border-radius: 999px;
  background: var(--module-2_bg, #e4e4e6);
  width: 40px;
  height: 40px;
  display: inline-block;
  gap: 8px;
  color: var(--Font-3, #555);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.box-popup .inner .box-right .center-info .number-step span.on {
  background: var(--Primary-1, #ea4248);
  color: #fff;
}
.box-popup .inner .box-right .center-info .text-2 {
  color: #000;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 48px */
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 10px;
}
.box-popup .inner .box-right .center-info .text-3 {
  color: var(--Font-6, #888);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
.box-popup .inner .box-right .center-info .text-3 strong {
  color: var(--Font-2, #444);
  font-weight: 400;
}
.box-popup .inner .box-right .center-info .text-4 {
  color: var(--Font-1, #000);
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 44.8px */
}
.box-popup .inner .box-right .center-info .text-4 strong {
  color: var(--Primary-1, #ea4248);
  font-family: Pretendard;
  font-weight: 600;
  position: relative;
}
.box-popup .inner .box-right .center-info .text-4 strong::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  background: rgba(248, 110, 108, 0.4);
  height: 6px;
}
.box-popup .inner .box-right .center-info .text-5 {
  color: var(--Font-1, #000);
  text-align: left;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 31.2px */
  margin-top: 60px;
  margin-bottom: 20px;
}
.box-popup .inner .box-right .center-info .list-car {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.box-popup .inner .box-right .center-info .list-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px 10px;
  flex: 1 0 0;
  flex-wrap: wrap;
  max-width: 817px;
  margin: 40px auto 0 auto;
}
.box-popup .inner .box-right .center-info .list-btn li button {
  min-width: 139px;
  border-radius: 999px;
  border: 1px solid var(--module-1_line, #dcdcdc);
  background: var(--Secondary-8, #fff);
  color: var(--Font-1, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  padding: 20px 40px;
  transition: all 0.4s;
}
.box-popup .inner .box-right .center-info .list-btn li button.on, .box-popup .inner .box-right .center-info .list-btn li button:hover {
  color: var(--Primary-1, #ea4248);
  border: 1px solid var(--Secondary-5, #f26e6d);
  background: #f4f4f6;
}
.box-popup .inner .box-right .center-info .btn-list-2 {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.box-popup .inner .box-right .center-info .btn-list-2 button {
  border-radius: 12px;
  border: 1px solid var(--Line-1, #ccc);
  padding: 16px 48px;
  color: var(--Font-6, #888);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 23.4px */
  transition: all 0.4s;
}
.box-popup .inner .box-right .center-info .btn-list-2 button.on, .box-popup .inner .box-right .center-info .btn-list-2 button:hover {
  color: var(--Font-4, #fff);
  border-radius: 12px;
  background: var(--Primary-1, #ea4248);
  border: 1px solid #ea4248;
}
.box-popup .inner .box-right .bottom-info {
  border-top: 1px solid var(--Line-1, #ccc);
  background: linear-gradient(0deg, #fff 0%, #fff 100%), linear-gradient(0deg, rgba(221, 232, 244, 0.5) 0%, rgba(221, 232, 244, 0.5) 100%), #fff;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 56px;
  position: relative;
}
.box-popup .inner .box-right .bottom-info .left {
  margin: 20px 0 0 0;
  display: none;
}
.box-popup .inner .box-right .bottom-info .left[data-index="4"], .box-popup .inner .box-right .bottom-info .left[data-index="5"] {
  width: 400px;
  position: relative;
  top: -11px;
}
.box-popup .inner .box-right .bottom-info .left .gap {
  flex-direction: row;
  display: flex;
}
.box-popup .inner .box-right .bottom-info .left .gap.posi-1 {
  position: absolute;
  top: 0;
  left: 206px;
  padding-left: 56px;
  height: 38px;
  align-items: start;
  border-left: 1px solid #ccc;
}
.box-popup .inner .box-right .bottom-info .left button {
  color: var(--Font-5, #666);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  margin-right: 28px;
  text-align: left;
}
.box-popup .inner .box-right .bottom-info .left button.on {
  color: var(--Font-1, #000);
  font-weight: 500;
}
.box-popup .inner .box-right .bottom-info .right {
  display: flex;
  gap: 0 8px;
}
.box-popup .inner .box-right .bottom-info .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #ea4248;
}
.box-popup .box-popup-sel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px 32px 32px 0px;
  background: rgba(23, 16, 16, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.box-popup .box-popup-sel .close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -353px);
  transition: all 0.4s;
}
.box-popup .box-popup-sel .close:hover {
  transform: translate(-50%, -353px) rotate(90deg);
}/*# sourceMappingURL=style.css.map */