body {
  background: #1a1718;
}

.main-kv {
  width: 100%;
  position: relative;
  z-index: 10;
}
.main-kv .kv-video {
  width: 100%;
  height: 100%;
  position: relative;
}
.main-kv .top-bg {
  width: 100%;
  height: 42.3%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
}
.main-kv .text {
  position: fixed;
  top: 375px;
  left: 92px;
  z-index: 9;
}
.main-kv .text .top .white {
  display: none;
}
.main-kv .text .bottom {
  position: absolute;
  top: 190px;
  left: 0;
}
.main-kv .text .bottom-text {
  position: absolute;
  top: 418px;
  left: 0;
}
.main-kv .kv-pin {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-kv .kv-pin.kv-pin-2 {
  transform: translate(0, 0);
}
.main-kv .kv-pin.kv-pin-3 {
  transform: translate(0, 0);
  margin-bottom: 100vh;
}

.main-kv .top-bg,
.main-kv .kv-video {
  opacity: 0;
}
.main-kv .top,
.main-kv .bottom,
.main-kv .bottom-text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.main-kv .top {
  height: 158px;
}
.main-kv .bottom {
  height: 158px;
}
.main-kv .bottom-text {
  height: 109px;
}
.main-kv .top img,
.main-kv .bottom img,
.main-kv .bottom-text img {
  padding-bottom: 30px;
}
.main-kv .top img {
  transition: all 0.5s;
}
.main-kv .bottom img {
  transition: transform 1s;
  height: 186px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-kv .bottom-text img {
  transition: transform 1.5s;
  height: 118px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-kv .top.is-1 img {
  transform: translate(0, -188px);
}
.main-kv .top.is-2 img {
  transform: translate(0, -376px);
}
.main-kv .bottom.is-1 img {
  transform: translate(0, -183px);
}
.main-kv .bottom.is-2 img {
  transform: translate(0, -371px);
}
.main-kv .bottom-text.is-1 img {
  transform: translate(0, -117px);
}
.main-kv .bottom-text.is-2 img {
  transform: translate(0, -241px);
}
.main-kv .kv-pin.is-active .top-bg,
.main-kv .kv-pin.is-active .kv-video {
  opacity: 1;
}

.wrap {
  width: 100%;
  position: relative;
  padding: 0 80px 80px;
  z-index: 100;
  overflow: hidden;
  background: #1a1718;
}

.section-tit {
  margin-bottom: 147px;
}

.main-business {
  width: calc(100% + 160px);
  margin-left: -80px;
  background: #000;
  padding-bottom: 160px;
}
.main-business .split-tit {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  transform: rotate(-27deg) scale(1.8);
}
.main-business .split-tit .item-wrap {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.main-business .split-tit .item-wrap img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) rotate(27deg) scale(0.5);
}
.main-business .split-tit .item-wrap.wrap-1 {
  transform: translate(0%, 1px) translate3d(0px, 0px, 0px);
}
.main-business .split-tit .item-wrap.wrap-1 img {
  bottom: -119px;
  left: 50%;
}
.main-business .split-tit .item-wrap.wrap-2 img {
  top: -120px;
  left: 50%;
}
.main-business .bs-pin {
  width: 100%;
  position: relative;
  display: block;
  background: #000;
}
.main-business .bs-pin .bs-box {
  width: 100%;
  padding: 320px 0 578px;
  position: relative;
  overflow-x: hidden;
}
.main-business .bs-pin .bs-box .box-tit {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 120px;
}
.main-business .bs-pin .bs-box .bs-card-wrap {
  width: 560px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}
.main-business .bs-pin .bs-box .bs-card-wrap .card {
  width: 560px;
  height: 820px;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.main-business .bs-pin .bs-box .bs-card-wrap .card.is-active {
  opacity: 1;
}
.main-business .bs-pin .bs-box .bs-card-wrap .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
}
.main-business .bs-pin .bs-box .bs-card-wrap .card .img {
  width: 100%;
  height: 100%;
}
.main-business .bs-pin .bs-box .bs-card-wrap .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-business .bs-pin .bs-box .bs-card-wrap .card + .card {
  margin-left: 300px;
}
.main-business .bs-pin .bs-box .text {
  position: absolute;
}
.main-business .bs-pin .bs-box .text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-business .bs-pin .bs-box .text.en-text {
  left: 120px;
  bottom: 478px;
}
.main-business .bs-pin .bs-box .text.ko-text {
  right: 120px;
  bottom: 360px;
}

.main-media {
  padding: 320px 0;
  width: 100%;
  position: relative;
}
.main-media .media-inner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-media .media-inner .sticky-wrap {
  width: 277px;
  height: 914px;
  padding: 40px;
  background: var(--primary-1-eco-green, #38d430);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-media .media-inner .sticky-wrap .sticky-tit {
  margin-right: auto;
}
.main-media .media-inner .tab {
  width: 100%;
  padding: 0;
  position: relative;
}
.main-media .media-inner .tab .menu {
  width: 100%;
  margin-bottom: 80px;
}
.main-media .media-inner .tab .menu .menu-list {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.main-media .media-inner .tab .menu .menu-list li + li {
  margin-left: 60px;
}
.main-media .media-inner .tab .menu .menu-list li button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #666;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  border-bottom: 1px solid transparent;
}
.main-media .media-inner .tab .menu .menu-list li button.active {
  color: var(--primary-1-eco-green, #38d430);
  border-color: #38d430;
}
.main-media .media-inner .tab .tab-list {
  height: 887px;
}
.main-media .media-inner .tab .tab-list .list {
  width: 100%;
  position: relative;
}
.main-media .media-inner .tab .tab-list .list li + li {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
}
.main-media .media-inner .tab .tab-list .list li .box {
  width: 100%;
  position: relative;
  padding: 40px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-media .media-inner .tab .tab-list .list li .box .arrow {
  width: 60px;
  height: 60px;
  position: relative;
  background: url(/HD/static/images/arrow-icon.png) no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}

.group-esg {
  width: 100%;
  position: relative;
  padding: 188px 0 160px;
}
.group-esg .esg-pin {
  width: 100%;
  position: relative;
  height: 920px;
  overflow: hidden;
}
.group-esg .esg-pin .esg-box {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group-esg .esg-pin .esg-box .img-wrap {
  width: calc(50% - 20px);
  height: 920px;
  border-radius: 30px;
  overflow: hidden;
}
.group-esg .esg-pin .esg-box .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.group-esg .esg-pin .esg-box .text-wrap {
  width: calc(50% - 20px);
  height: 920px;
  position: relative;
  background-image: linear-gradient(to top, #1a1718 92%, transparent 8%);
}
.group-esg .esg-pin .esg-box .text-wrap .num {
  position: absolute;
  top: 80px;
  left: 40px;
  z-index: 99;
}
.group-esg .esg-pin .esg-box .text-wrap .text {
  position: absolute;
  left: 40px;
  bottom: 80px;
}
.group-esg .esg-pin .esg-box.box2 {
  position: absolute;
  top: 100%;
}
.group-esg .esg-pin .esg-box.box2 .text-wrap .text {
  bottom: 160px;
}
.group-esg .esg-pin .esg-box.box3 {
  position: absolute;
  top: 200%;
}
.group-esg .esg-pin .esg-box.box3 .text-wrap .text {
  bottom: 240px;
}

.main-social {
  width: 100%;
  position: relative;
  padding: 160px 0;
}
.main-social .section-tit {
  margin-bottom: 120px;
}
.main-social .scroll-inner {
  width: calc(100% + 160px);
  margin-left: -80px;
  padding-left: 80px;
  overflow-x: hidden;
}
.main-social .social-swiper {
  width: 100%;
  position: relative;
  padding-right: 80px;
}
.main-social .social-swiper li {
  width: 560px;
}
.main-social .social-swiper li + li {
  margin-left: 40px;
}
.main-social .social-swiper li a {
  width: 100%;
  position: relative;
  display: block;
}
.main-social .social-swiper li a .thumb-img {
  width: 560px;
  height: 560px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.main-social .social-swiper li a .thumb-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-social .social-swiper li a .thumb-img::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/HD/static/images/hover_opacity.png) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
}
.main-social .social-swiper li a .thumb-img:hover::after {
  opacity: 1;
}
.main-social .social-swiper li a .sns-name {
  margin: 27px 0 0 20px;
}
.main-social .social-swiper li.circle .inner .thumb-img {
  border-radius: 50%;
}
.main-social .social-progress-bar {
  position: relative;
  margin-top: 79px;
  width: 375px;
}
.main-social .social-progress-bar .swiper-pagination-progressbar {
  background: #333;
  height: 2px;
}
.main-social .social-progress-bar .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #38d430;
}

.stock {
  width: 100%;
  position: relative;
  padding: 190px 0 120px;
}
.stock .inner .top-info {
  position: relative;
  margin-bottom: 20px;
}
.stock .inner .all-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--primary-6-white, #fff);
}
.stock .inner .all-flex .left {
  display: flex;
  align-items: flex-end;
}
.stock .inner .all-flex .left .counter {
  color: var(--primary-6-white, #fff);
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
}
.stock .inner .all-flex .left .num {
  margin-left: 40px;
}
.stock .inner .all-flex .right a + a {
  margin-left: 40px;
}

.white .main-kv .top-bg {
  background: #fff;
}
.white .main-kv .text .top img {
  display: block;
}
.white .main-kv .text .top .dark {
  display: none;
}
.white .main-business {
  background: #fff;
}
.white .main-business .split-tit .item-wrap {
  background: #000;
}
.white .main-business .bs-pin {
  background: #fff;
}
.white .main-business .bs-pin .bs-box .bs-card-wrap .card::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.9) 100%);
}
.white .main-media {
  width: calc(100% + 160px);
  margin-left: -80px;
  background: #f4f4f4;
  padding: 320px 80px 0;
}
.white .main-media .media-inner .tab .menu .menu-list li button {
  border-bottom-width: 2px;
  color: #999;
}
.white .main-media .media-inner .tab .menu .menu-list li button.active {
  color: #38d430;
}
.white .main-media .media-inner .tab .tab-list .list li + li {
  border-top: 1px solid #ccc;
}
.white .main-media .media-inner .tab .tab-list .list li .box .arrow {
  background: url(/HD/static/images/arrow-icon_w.png) no-repeat;
}
.white .group-esg .esg-pin .esg-box .text-wrap {
  background-image: linear-gradient(to top, #f4f4f4 92%, transparent 8%);
}
.white .stock .inner .all-flex {
  border-bottom: 2px solid #000;
}
.white .stock .inner .all-flex .left .counter {
  color: #000;
}

.mob .main-kv {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.mob .main-kv .text {
  transform: translate(0, calc(-50% - 179px));
  top: 50%;
  left: 20px;
}
.mob .main-kv .text .top {
  height: 72px;
  position: absolute;
  top: 105px;
  left: 0;
}
.mob .main-kv .text .top img {
  height: 72px;
}
.mob .main-kv .text .bottom {
  height: 72px;
  top: 177px;
}
.mob .main-kv .text .bottom img {
  height: 76px;
}
.mob .main-kv .text .bottom-text {
  height: 72px;
  top: 0;
}
.mob .main-kv .text .bottom-text img {
  height: 74px;
}
.mob .main-kv .top-bg {
  height: 47.6%;
}
.mob .main-kv .top.is-1 img {
  transform: translate(0, -71px);
}
.mob .main-kv .top.is-2 img {
  transform: translate(0, -141px);
}
.mob .main-kv .bottom.is-1 img {
  transform: translate(0, -74px);
}
.mob .main-kv .bottom.is-2 img {
  transform: translate(0, -150px);
}
.mob .main-kv .bottom-text.is-1 img {
  transform: translate(0, -69px);
}
.mob .main-kv .bottom-text.is-2 img {
  transform: translate(0, -141px);
}
.mob .main-kv .kv-pin.is-active .top-bg,
.mob .main-kv .kv-pin.is-active .kv-video {
  opacity: 1;
}
.mob .wrap {
  padding: 0 20px 120px;
  background: #1a1718;
}
.mob .wrap .section-tit {
  margin-bottom: 60px;
}
.mob .wrap .main-media {
  padding: 120px 0;
}
.mob .wrap .main-media .section-tit {
  width: 128px;
}
.mob .wrap .main-media .section-tit img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .main-media .media-inner .tab .menu {
  margin-bottom: 20px;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: scroll;
}
.mob .wrap .main-media .media-inner .tab .menu::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}
.mob .wrap .main-media .media-inner .tab .menu .menu-list li {
  flex-shrink: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
}
.mob .wrap .main-media .media-inner .tab .menu .menu-list li button {
  color: #666;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-wrap: nowrap;
}
.mob .wrap .main-media .media-inner .tab .menu .menu-list li button.active {
  color: #38d430;
}
.mob .wrap .main-media .media-inner .tab .menu .menu-list li + li {
  margin-left: 24px;
}
.mob .wrap .main-media .media-inner .tab .tab-list {
  height: auto;
}
.mob .wrap .main-media .media-inner .tab .tab-list .list li .box {
  padding: 20px 0;
}
.mob .wrap .main-media .media-inner .tab .tab-list .list li .box .txt {
  height: 81px;
}
.mob .wrap .main-media .media-inner .tab .tab-list .list li .box .txt img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .main-media .media-inner .tab .tab-list .list li .box .arrow {
  width: 24px;
  height: 24px;
}
.mob .wrap .main-media .media-inner .tab .tab-list .list li + li {
  margin-top: 4px;
  padding-top: 4px;
}
.mob .wrap .group-esg {
  padding: 0 0 120px;
}
.mob .wrap .group-esg .section-tit {
  width: 232px;
}
.mob .wrap .group-esg .section-tit img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .group-esg .esg-wrap {
  width: 100%;
  position: relative;
}
.mob .wrap .group-esg .esg-wrap .box {
  width: 100%;
  position: relative;
}
.mob .wrap .group-esg .esg-wrap .box .img {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
}
.mob .wrap .group-esg .esg-wrap .box .text {
  margin-top: 40px;
}
.mob .wrap .group-esg .esg-wrap .box + .box {
  margin-top: 60px;
}
.mob .wrap .main-social {
  padding: 0 0 120px;
}
.mob .wrap .main-social .section-tit {
  width: 100%;
}
.mob .wrap .main-social .section-tit img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .main-social .scroll-inner {
  width: 100%;
  margin-left: 0;
  padding: 0;
}
.mob .wrap .main-social .social-swiper {
  width: 100%;
  padding: 0;
}
.mob .wrap .main-social .social-swiper li {
  width: 100%;
}
.mob .wrap .main-social .social-swiper li a .thumb-img {
  width: 100%;
  height: calc(100% - 40px);
}
.mob .wrap .main-social .social-swiper li + li {
  margin-left: 0;
}
.mob .wrap .main-social .social-progress-bar {
  width: 100%;
}
.mob .wrap .stock {
  padding: 0;
}
.mob .wrap .stock .section-tit {
  width: 136px;
}
.mob .wrap .stock .section-tit img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .stock .top-info {
  margin-bottom: 8px;
  width: 152px;
}
.mob .wrap .stock .top-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .stock .num-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #666;
  margin-bottom: 8px;
}
.mob .wrap .stock .num-flex .counter {
  color: var(--primary-6-white, #fff);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.mob .wrap .stock .num-flex .up-arrow {
  margin-bottom: 10px;
}
.mob .wrap .stock .bottom-info {
  width: 100%;
}
.mob .wrap .stock .bottom-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mob .wrap .stock .btn-flex {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mob .wrap .stock .btn-flex img {
  width: 150px;
}
.mob .main-business {
  width: calc(100% + 160px);
  margin-left: -80px;
  background: #000;
  overflow: hidden;
}
.mob .main-business .split-tit {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  transform: rotate(0) scale(1);
}
.mob .main-business .split-tit .item-wrap {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.mob .main-business .split-tit .item-wrap img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) rotate(0) scale(1);
  width: 303px;
}
.mob .main-business .split-tit .item-wrap.wrap-1 {
  transform: translate(0, 0) translate3d(0px, 0px, 0px);
}
.mob .main-business .split-tit .item-wrap.wrap-1 img {
  bottom: 0;
}
.mob .main-business .split-tit .item-wrap.wrap-2 img {
  top: 0;
}/*# sourceMappingURL=main.css.map */