@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/HD/static/fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Bold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/HD/static/fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/HD/static/fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 400;
  font-display: swap;
  src: local("PPNeueMontreal Regular"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  font-display: swap;
  src: local("PPNeueMontreal Medium"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  font-display: swap;
  src: local("PPNeueMontreal Bold"), url("/HD/static/fonts/PPNeueMontreal-Book.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html, body {
  width: 100%;
  height: 100%;
}

body.dark {
  background: #1a1718;
}
body.white {
  background: #f1f1f1;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}

input, textarea {
  border-radius: 0;
  resize: none;
}

body, h1, h2, h3, h4, h5, h6, input, button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}

body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}

caption, legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}

img, fieldset, iframe {
  border: 0 none;
  vertical-align: top;
}

fieldset {
  font-size: 0;
}

ul, ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

i, em, address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.header {
  width: 100%;
  height: 84px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header .header-inner {
  width: 100%;
  height: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-inner .gnb-wrap {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 80px;
}
.header .header-inner .gnb-wrap li {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.header .header-inner .gnb-wrap li a {
  color: var(--primary-6-white, #FFF);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.header .header-inner .en-btn {
  margin-left: auto;
  position: relative;
  width: 65px;
  height: 36px;
  cursor: pointer;
}
.header .header-inner .en-btn span {
  color: var(--primary-6-white, #FFF);
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}
.header .header-inner .en-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: url(/HD/static/images/text/gnb_arrow.png) no-repeat;
  background-position: center;
  background-size: contain;
}
.header .header-inner .en-btn .inner {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  border-radius: 10px;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.04), -2px -2px 30px 0px rgba(0, 0, 0, 0.04);
  padding: 40px;
  display: none;
}
.header .header-inner .en-btn .inner li {
  width: 100%;
}
.header .header-inner .en-btn .inner li a {
  width: 100%;
  display: block;
  color: #999;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  transition: color 0.2s;
  text-wrap: nowrap;
}
.header .header-inner .en-btn .inner li a:hover {
  color: #38D430;
}
.header .header-inner .en-btn .inner li + li {
  margin-top: 30px;
}
.header .header-inner .all-menu {
  width: 36px;
  height: 36px;
  margin-left: 30px;
  cursor: pointer;
}
.header .header-inner .all-menu.on img.menu {
  display: none;
}
.header .header-inner .all-menu.on img.menu-x {
  display: block;
}
.header .header-inner .all-menu img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
.header .header-inner .all-menu img.menu {
  display: block;
}
.header .header-inner .gnb-list {
  width: 100%;
  padding: 40px 0 60px;
  background: #000;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.04), -2px -2px 30px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 84px;
  left: 0;
  border-top: 1px solid #333;
  display: none;
}
.header .header-inner .gnb-list > li {
  display: none;
}
.header .header-inner .gnb-list > li ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header-inner .gnb-list > li ul li a {
  color: #999;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: color 0.3s;
}
.header .header-inner .gnb-list > li ul li a:hover {
  color: #38D430;
}
.header .header-inner .gnb-list > li ul li + li {
  margin-left: 60px;
}
.header .header-inner .all-menu-inner {
  width: 100%;
  background: #000;
  position: absolute;
  top: 84px;
  left: 0;
  display: none;
}
.header .header-inner .all-menu-inner .wrap {
  width: 100%;
  padding: 80px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header .header-inner .all-menu-inner .wrap .list > li {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.header .header-inner .all-menu-inner .wrap .list > li:hover p {
  color: #fff;
  border-bottom-color: #fff;
}
.header .header-inner .all-menu-inner .wrap .list > li:hover > ul li a {
  color: #fff;
}
.header .header-inner .all-menu-inner .wrap .list > li p {
  color: #666;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  cursor: pointer;
}
.header .header-inner .all-menu-inner .wrap .list > li .inner {
  display: flex;
  align-items: center;
  position: absolute;
  left: 266px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header-inner .all-menu-inner .wrap .list > li .inner li {
  width: 118px;
}
.header .header-inner .all-menu-inner .wrap .list > li .inner li a {
  color: #666;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  transition: 0.5s;
  border-bottom: 2px solid transparent;
}
.header .header-inner .all-menu-inner .wrap .list > li .inner li a:hover {
  border-bottom-color: #fff;
}
.header .header-inner .all-menu-inner .wrap .list > li .inner li + li {
  margin-left: 40px;
}
.header .header-inner .all-menu-inner .wrap .list > li + li {
  margin-top: 40px;
}
.header .header-inner .all-menu-inner .wrap .img {
  width: 390px;
  height: 390px;
  border-radius: 30px;
  overflow: hidden;
}
.header .header-inner .all-menu-inner .wrap .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  width: 100%;
  position: relative;
  background: #000;
}
.footer .footer-inner {
  width: 100%;
  position: relative;
  padding: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .footer-inner .left .family-site {
  width: 277px;
  margin-top: 80px;
  cursor: pointer;
}
.footer .footer-inner .left .img {
  margin-top: 190px;
}
.footer .footer-inner .right .img + .img {
  margin-top: 160px;
}
.footer .top-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.fadeAni .move {
  opacity: 0;
  transform: translate(0, 100px);
}

.fadeAni.on .move[data-delay="0"] {
  animation: fadeOn 0.8s forwards;
}

.fadeAni.on .move[data-delay="30"] {
  animation: fadeOn 0.8s 0.3s forwards;
}

.fadeAni.on .move[data-delay="60"] {
  animation: fadeOn 0.8s 0.6s forwards;
}

.fadeAni.on .move[data-delay="90"] {
  animation: fadeOn 0.8s 0.9s forwards;
}

.fadeAni.on .move[data-delay="120"] {
  animation: fadeOn 0.8s 1.2s forwards;
}

.fadeAni.on .move[data-delay="150"] {
  animation: fadeOn 0.8s 1.5s forwards;
}

.fadeAni.on .move[data-delay="180"] {
  animation: fadeOn 0.8s 1.8s forwards;
}

.fadeAni.on .move[data-delay="210"] {
  animation: fadeOn 0.8s 2.1s forwards;
}

@keyframes fadeOn {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.sub-top .bg {
  width: calc(100% + 160px);
  height: 480px;
  margin: 120px 0 185px -80px;
  background: url(/HD/static/images/sub-top.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.sub-top .bg .tit-flex {
  padding: 0 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -53.5px;
  left: 0;
}
.sub-top .bg .modeBtn {
  width: 195px;
  position: absolute;
  bottom: -185px;
  right: 80px;
}

.sub-inner {
  width: 100%;
  position: relative;
  padding: 240px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sub-inner .tab-btn-wrap {
  width: 260px;
  position: relative;
}
.sub-inner .tab-btn-wrap .tab-btn li {
  width: 100%;
}
.sub-inner .tab-btn-wrap .tab-btn li button {
  color: #666;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  line-height: 1.4;
  text-align: left;
  cursor: pointer;
}
.sub-inner .tab-btn-wrap .tab-btn li.active button {
  color: var(--primary-1-eco-green, #38D430);
  font-weight: 700;
}
.sub-inner .tab-btn-wrap .tab-btn li + li {
  margin-top: 40px;
}
.sub-inner .tab-list-wrap {
  width: calc(100% - 300px);
}
.sub-inner .tab-list-wrap .tab-list {
  display: none;
}
.sub-inner .tab-list-wrap .tab-list.show {
  display: block;
}
.sub-inner .tab-list-wrap .tab-list .inner {
  width: 100%;
  position: relative;
}
.sub-inner .tab-list-wrap .tab-list .inner > div + div {
  margin-top: 180px;
}
.sub-inner .tab-list-wrap .tab-list .inner .info {
  width: 100%;
  position: relative;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .tit-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .count-flex {
  display: flex;
  align-items: center;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .count-flex .counter {
  width: 425px;
  color: var(--primary-6-white, #FFF);
  font-size: 120px;
  font-weight: 700;
  line-height: 1.2;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .count-flex .img {
  margin-left: 10px;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .num-left, .sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .num-right {
  width: 25%;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .num-left img, .sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .num-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .box-flex {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.sub-inner .tab-list-wrap .tab-list .inner .info .box-flex .box {
  width: calc(33.3% - 28px);
}
.sub-inner .tab-list-wrap .tab-list .inner .info .box-flex .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-inner .tab-list-wrap .tab-list .inner .chart-div {
  margin-top: 0;
}
.sub-inner .tab-list-wrap .tab-list .inner .chart-div .chart {
  width: 100%;
  margin-top: 80px;
}
.sub-inner .tab-list-wrap .tab-list .inner .chart-div .chart img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-inner .tab-list-wrap .tab-list .inner .box-wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.sub-inner .tab-list-wrap .tab-list .inner .box-wrap .box {
  width: calc(33.3% - 28px);
}
.sub-inner .tab-list-wrap .tab-list .inner .box-wrap .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-inner .tab-list-wrap .tab-list .inner .box-wrap .box:first-child {
  width: 100%;
}

.white .header {
  background: #fff;
}
.white .header .header-inner .gnb-wrap li a {
  color: #000;
  transition: color 0.3s;
}
.white .header .header-inner .gnb-wrap li a:hover {
  color: #38D430;
}
.white .header .header-inner .en-btn span {
  color: #000;
}
.white .header .header-inner .en-btn::after {
  background: url(/HD/static/images/text/gnb_arrow_w.png) no-repeat;
}
.white .header .header-inner .gnb-list {
  background: #fff;
  border-top: 1px solid #e4e4e4;
}
.white .header .header-inner .all-menu-inner {
  background: #fff;
}
.white .header .header-inner .all-menu-inner .wrap .list > li p {
  color: #999;
  transition: all 0.3s;
}
.white .header .header-inner .all-menu-inner .wrap .list > li .inner li a {
  color: #999;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
.white .header .header-inner .all-menu-inner .wrap .list > li .inner li a:hover {
  border-bottom-color: #000;
}
.white .header .header-inner .all-menu-inner .wrap .list > li:hover p {
  color: #000;
  border-bottom-color: #000;
}
.white .header .header-inner .all-menu-inner .wrap .list > li:hover .inner li a {
  color: #000;
}
.white .sub-inner .tab-btn-wrap .tab-btn li button {
  color: #999;
}
.white .sub-inner .tab-btn-wrap .tab-btn li.active button {
  color: #38D430;
}
.white .sub-inner .tab-list-wrap .tab-list .inner .info .num-flex .count-flex .counter {
  color: #000;
}/*# sourceMappingURL=style.css.map */