@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("/HD/static/fonts/Pretendard-Bold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Bold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("/HD/static/fonts/Pretendard-Medium.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Medium.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url("/HD/static/fonts/Pretendard-Regular.subset.woff2") format("woff2"), url("/HD/static/fonts/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 400;
  font-display: swap;
  src: local("PPNeueMontreal Regular"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Regular.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 500;
  font-display: swap;
  src: local("PPNeueMontreal Medium"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Medium.woff") format("woff");
}
@font-face {
  font-family: "PPNeueMontreal";
  font-weight: 700;
  font-display: swap;
  src: local("PPNeueMontreal Bold"), url("/HD/static/fonts/PPNeueMontreal-Book.woff2") format("woff2"), url("/HD/static/fonts/PPNeueMontreal-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  height: 100%;
}

body.dark {
  background: #1a1718;
}
body.white {
  background: #f4f4f4;
}
body.white .wrap {
  background: #f4f4f4;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}

input,
textarea {
  border-radius: 0;
  resize: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}

body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}

caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}

img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}

fieldset {
  font-size: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

i,
em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* gate */
.box-gate {
  background-color: #000;
}
.box-gate .box-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-gate h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
.box-gate .txt-1,
.box-gate .txt-2,
.box-gate .txt-3 {
  position: absolute;
}
.box-gate .txt-1 {
  top: 30px;
  right: 40px;
}
.box-gate .txt-2 {
  bottom: 40px;
  left: 40px;
}
.box-gate .txt-3 {
  bottom: 40px;
  right: 40px;
}
.box-gate .box-type {
  position: relative;
}
.box-gate .box-type + .box-type {
  margin-left: 16px;
}
.box-gate .box-type .btn-pc,
.box-gate .box-type .btn-mobile {
  position: absolute;
  bottom: 40px;
  width: 244px;
  height: 60px;
}
.box-gate .box-type .btn-pc {
  left: 30px;
}
.box-gate .box-type .btn-mobile {
  right: 30px;
}

.typeB .window-cursor {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s, width 0.3s, height 0.3s;
  z-index: 4000;
  width: 68px;
  height: 68px;
  border-radius: 999px;
  border: 1.5px solid var(--SIgnature-1, #e7542c);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 27px 18.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  mix-blend-mode: multiply;
  color: var(--SIgnature-1, #e7542c);
  font-family: "Benton Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 14px */
  display: none;
}
.typeB .window-cursor.type-1 {
  display: flex;
}
.typeB .window-cursor.type-2 {
  display: flex;
  border-radius: 999px;
  border: 1px solid var(--Gray-white, #fff);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  mix-blend-mode: lighten;
}
.typeB .logo-h2 img {
  position: fixed;
  top: 110px;
  left: 96px;
  z-index: 1000;
  transition: all 0.4s;
}
.typeB .logo-h2 img.scroll-img {
  opacity: 0;
  transform: translate(0, -41px);
}
.typeB .logo-h2.scroll img.noScroll-img {
  opacity: 0;
}
.typeB .logo-h2.scroll img.scroll-img {
  opacity: 1;
}
.typeB .btn-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 146px;
  animation: my-animation 0s 1 1.8s;
  animation-fill-mode: forwards;
}
@keyframes my-animation {
  to {
    overflow: visible;
  }
}
.typeB .btn-right .menu {
  display: block;
  overflow: hidden;
}
.typeB .btn-right .menu img {
  transition: all 0.4s;
  animation: menuimg 2s 1;
  animation-fill-mode: forwards;
}
.typeB .btn-right .menu img.noScroll-img {
  opacity: 1;
  width: auto;
}
.typeB .btn-right .menu img.scroll-img {
  opacity: 0;
  width: 0;
}
@keyframes menuimg {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
.typeB .btn-right .btn {
  display: flex;
  width: 192px;
  height: 192px;
  padding: 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--Gray-white, #fff);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 22px */
  position: relative;
  animation: my-animation2 2s 1;
  animation-fill-mode: forwards;
}
@keyframes my-animation2 {
  to {
    transform: translateY(0);
  }
}
.typeB .btn-right .btn img {
  position: relative;
  z-index: 100;
}
.typeB .btn-right .btn .bg {
  display: block;
  width: 192px;
  height: 192px;
  background: var(--Intercontinental-Primary-9, #99846c);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4s;
  border-radius: 999px;
  transform: translate(-50%, -50%) rotate(0) scale(1.6);
  animation: bg-ani 1s 1;
  animation-fill-mode: forwards;
}
@keyframes bg-ani {
  to {
    border-radius: 0;
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
.typeB .btn-right .btn:hover .bg {
  border-radius: 0;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  animation: bg-ani-hover 1s 1;
  animation-fill-mode: forwards;
}
@keyframes bg-ani-hover {
  to {
    border-radius: 999px;
    transform: translate(-50%, -50%) rotate(0) scale(1.6);
  }
}
.typeB .btn-right.scroll img.noScroll-img {
  opacity: 0;
  width: 0;
}
.typeB .btn-right.scroll img.scroll-img {
  opacity: 1;
  width: auto;
}
.typeB .en {
  position: fixed;
  left: 96px;
  bottom: 93px;
  z-index: 1000;
}
.typeB .en img {
  transition: all 0.4s;
}
.typeB .en img.noScroll-img {
  opacity: 1;
  width: auto;
}
.typeB .en img.scroll-img {
  opacity: 0;
  width: 0;
}
.typeB .en.scroll img.noScroll-img {
  opacity: 0;
  width: 0;
}
.typeB .en.scroll img.scroll-img {
  opacity: 1;
  width: auto;
}
.typeB .scroll-btn {
  position: fixed;
  left: 219px;
  bottom: 108px;
  z-index: 1000;
  padding: 10px 10px 10px 67px;
  transition: all 0.4s;
}
.typeB .scroll-btn.right {
  left: calc(50% + 480px);
}
.typeB .scroll-btn > img {
  position: relative;
  z-index: 100;
  filter: invert(0);
  transition: all 0.4s;
  animation: scrollimg 2s 1;
  animation-fill-mode: forwards;
}
@keyframes scrollimg {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.typeB .scroll-btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.typeB .scroll-btn span img {
  position: absolute;
  top: 10px;
  left: 67px;
  z-index: 1000;
  transition: all 0.4s;
  animation: scrollimg 2s 1;
  animation-fill-mode: forwards;
}
.typeB .scroll-btn span::after {
  content: "";
  display: block;
  background-color: #000;
  border-radius: 999px;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 0.4s;
}
.typeB .scroll-btn:hover {
  cursor: pointer;
}
.typeB .scroll-btn:hover span img {
  filter: invert(1);
  z-index: 1100;
}
.typeB .scroll-btn:hover span::after {
  transform: scale(3);
}
.typeB .line {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='202' viewBox='0 0 4 202' fill='none'%3E%3Cline x1='1' y1='25' x2='0.999992' y2='202' stroke='black' stroke-width='2'/%3E%3Crect width='4' height='4' rx='2' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  right: 96px;
  z-index: 100;
  width: 4px;
  background-position: center;
  transition: all 0.2;
}
.typeB .line.ani-show {
  animation: line 5s infinite;
  animation-fill-mode: forwards;
}
@keyframes line {
  0% {
    height: 0;
  }
  50% {
    height: 202px;
  }
  100% {
    height: 0;
  }
}
.typeB .main-kv {
  background: var(--SIgnature-5, #efedec);
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.typeB .main-kv .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  transform: scale(0.7);
}
.typeB .main-kv .video .primary-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.typeB .main-kv .text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typeB .main-kv .text-1 img {
  transition: all 0.2s;
  animation: text-1img 2s 1;
  animation-fill-mode: forwards;
}
@keyframes text-1img {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}
.typeB .main-kv .text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.typeB .section-1 {
  background: var(--SIgnature-3, #c1c6c9);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-1 .inner {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.typeB .section-1 .inner .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-1 .inner .box-text .text-1 {
  padding-bottom: 50px;
}
.typeB .section-1 .img-cover {
  overflow: hidden;
  width: 470px;
  height: 670px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.typeB .section-1 .img-cover::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.typeB .section-1 .img-cover img {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 209px), calc(-50% + 166px));
  height: 1033px;
}
.typeB .section-2 {
  background: var(--Intercontinental-Secondary-6, #f5f5f5);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-2 .inner {
  position: absolute;
  height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  width: 1360px;
}
.typeB .section-2 .img-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}
.typeB .section-2 .img-cover img {
  margin-left: 80vw;
}
.typeB .section-3 {
  background: var(--Intercontinental-Secondary-5, #cac7c3);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-3 .inner {
  position: absolute;
  height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  width: 1360px;
  z-index: 100;
}
.typeB .section-3 .text-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 923px), -50%);
  z-index: 100;
  transition: all 0.4s;
}
.typeB .section-3 .img-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-3 .img-cover .inner-2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  z-index: 100;
}
.typeB .section-3 .img-cover .inner-2 .img-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-50% + 2874px), -50%);
  z-index: 200;
}
.typeB .section-3 .img-cover .inner-2 img {
  object-fit: contain;
}
.typeB .section-4 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-4::before, .typeB .section-4::after {
  content: "";
  display: block;
  right: 0;
  left: 0;
  position: absolute;
}
.typeB .section-4::before {
  top: 0;
  bottom: 50%;
  background-color: #f0efec;
}
.typeB .section-4::after {
  top: 50%;
  bottom: 0;
  background-color: #d9d9d9;
}
.typeB .section-4 .inner {
  position: absolute;
  height: 576px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  width: 1360px;
  z-index: 100;
}
.typeB .section-4 .img-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  height: 680px;
}
.typeB .section-4 .img-cover .inner {
  display: flex;
  gap: 192px;
  padding-left: 20vw;
}
.typeB .section-5 {
  background: var(--Gray-white, #fff);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-5 .inner {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.typeB .section-5 .inner .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-5 .inner .box-text .text-1 {
  padding-bottom: 80px;
}
.typeB .section-5 .inner .box-text .text-2 {
  padding-left: 80px;
}
.typeB .section-5 .img-cover {
  overflow: hidden;
  width: 526px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 337px), -50%);
  z-index: 50;
}
.typeB .section-5 .img-cover::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.typeB .section-5 .img-cover img {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 982px;
  transform: translate(calc(-50% + 40px), calc(-50% + 19px));
}
.typeB .section-6 {
  background: var(--Intercontinental-Secondary-5, #cac7c3);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-6 .inner {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.typeB .section-6 .inner .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-6 .inner .box-text .text-1 {
  padding-bottom: 80px;
}
.typeB .section-6 .inner .box-text .text-2 {
  padding-left: 80px;
}
.typeB .section-6 .img-cover {
  overflow: hidden;
  width: 998px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 300px), -50%);
  z-index: 50;
}
.typeB .section-6 .img-cover::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.typeB .section-6 .img-cover img {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  transform: translate(calc(-50% + 40px), calc(-50% + 19px));
}
.typeB .section-7 {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.typeB .section-7 .inner {
  position: absolute;
  top: 4vh;
  left: 50%;
  height: 50vh;
  transform: translate(-50%, 0);
}
.typeB .section-7 .inner p {
  text-align: center;
}
.typeB .section-7 .inner p.text-1 {
  padding: 36px 0 91px 0;
}
.typeB .section-7 .img-bottom {
  position: absolute;
  bottom: -10vh;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 480px;
  height: 50vh;
  background-image: url(../../static/images/section7_img_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.typeB .section-8 {
  background-image: url(../../static/images/section8_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}
.typeB .section-8 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-9 {
  background: var(--SIgnature-5, #efedec);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.typeB .section-9 .inner {
  position: relative;
  height: 100vh;
  z-index: 100;
}
.typeB .section-9 .inner .box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.typeB .section-9 .inner .box-text .text-1 {
  padding-bottom: 208px;
}
.typeB .section-9 .inner .box-text .text-2 {
  padding-left: 40px;
}
.typeB .section-9 .inner .box-text .text-2 .inner-text {
  overflow: hidden;
  height: 150px;
}
.typeB .section-9 .img-cover {
  overflow: hidden;
  width: 470px;
  height: 670px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 186px), -50%);
  z-index: 50;
}
.typeB .section-9 .img-cover::after {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.typeB .section-9 .img-cover img {
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1300px;
  transform: translate(calc(-50% - 234px), calc(-50% + 19px));
}
.typeB .section-9 .bottom-text {
  position: absolute;
  bottom: 96px;
  left: 316px;
  right: 96px;
  display: flex;
  justify-content: space-between;
}

.typeA .window-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s, width 0.3s, height 0.3s;
  z-index: 4000;
  width: 20px;
  height: 20px;
  background-color: #3b3c34;
  fill: var(--transparent-b-60, rgba(0, 0, 0, 0.6));
  mix-blend-mode: multiply;
}
.typeA .window-cursor .swiper-button-cion {
  opacity: 0;
}
.typeA .window-cursor.main-swiperButton-prev, .typeA .window-cursor.main-swiperButton-next {
  width: 108px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-content: center;
  mix-blend-mode: inherit;
}
.typeA .window-cursor.main-swiperButton-prev .swiper-button-cion, .typeA .window-cursor.main-swiperButton-next .swiper-button-cion {
  opacity: 1;
  width: 30px;
  height: 30px;
}
.typeA .window-cursor.main-swiperButton-prev .swiper-button-cion {
  transform: rotate(180deg);
}
.typeA .box-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: #fff;
  transition: all 0.3s;
  will-change: top;
}
.typeA .box-header .top {
  border-bottom: 1px solid var(--Gray-5, #f0f0f0);
  text-align: right;
  padding: 14px 80px 12px 0;
}
.typeA .box-header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e0e1;
  padding: 12px 80px;
}
.typeA .box-header.fixed {
  top: -41px;
}
.typeA .box-main-kv {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 1520px;
  height: 100vh;
}
.typeA .box-main-kv .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.typeA .box-main-kv .swiper-slide .text-1,
.typeA .box-main-kv .swiper-slide .text-2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.typeA .box-main-kv .swiper-slide .text-1 {
  left: 0;
}
.typeA .box-main-kv .swiper-slide .text-1.gap-1 {
  margin-left: 150px;
  margin-top: -118px;
}
.typeA .box-main-kv .swiper-slide .text-2 {
  right: 0;
}
.typeA .box-main-kv .swiper-slide .text-2.gap-1 {
  margin-right: 150px;
  margin-bottom: -118px;
}
.typeA .box-main-kv .swiper-pagination {
  font-size: 14px;
  bottom: 50%;
  transform: translateY(calc(-50% + 330px));
}
.typeA .box-main-kv .swiper-button-next,
.typeA .box-main-kv .swiper-button-prev {
  display: block !important;
  background-color: transparent;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 80%;
  width: 0%;
  animation: nextPrev 1s linear infinite;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.typeA .box-main-kv .swiper-button-next:focus,
.typeA .box-main-kv .swiper-button-prev:focus {
  border: none;
  outline: none;
}
.typeA .box-main-kv .swiper-button-next::after,
.typeA .box-main-kv .swiper-button-prev::after {
  display: none;
}
@keyframes nextPrev {
  to {
    width: 35%;
  }
}
.typeA .box-main-kv .swiper-button-prev {
  right: auto;
}
.typeA .box-main-kv .swiper-button-next {
  left: auto;
}
.typeA .box-controll {
  text-align: center;
  max-width: 1520px;
  margin: -160px auto 0 auto;
  position: relative;
  z-index: 200;
}
.typeA .box-offers {
  background: var(--Gray-bg, #f9f9f9);
  padding: 80px 0 0 0;
}
.typeA .box-offers .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.typeA .box-offers .inner h3 {
  padding: 64px 0 46px 0;
}
.typeA .box-offers .inner h4 {
  padding: 60px 0 79px 0;
}
.typeA .box-offers .inner .list {
  display: flex;
  gap: 40px;
}
.typeA .box-club .inner {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.typeA .box-club .inner h2 {
  padding: 120px 0 60px 0;
}
.typeA .box-club .inner h3 {
  padding: 0 0 40px;
}
.typeA .box-club .inner h4 {
  padding: 60px 0 79px 0;
}
.typeA .box-club .inner .swiper-club-item {
  position: relative;
  height: 920px;
}
.typeA .box-club .inner .swiper-club-item .list {
  margin-top: 39px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--Gray-6, #e1e0e1);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s;
  will-change: auto;
}
.typeA .box-club .inner .swiper-club-item .list.show {
  overflow: visible;
  opacity: 1;
  display: grid;
  pointer-events: all;
}
.typeA .box-club .swiper-club {
  overflow: hidden;
  margin: 0 -65px;
}
.typeA .box-club .swiper-club:hover {
  cursor: grab;
}
.typeA .box-club .swiper-club .swiper-wrapper {
  display: flex;
}
.typeA .box-club .swiper-club .swiper-wrapper .swiper-slide {
  flex-grow: 1;
}
.typeA .box-club .swiper-club .swiper-wrapper .swiper-slide img {
  margin: 0 auto;
}
.typeA .box-club .swiper-button-prev,
.typeA .box-club .swiper-button-next {
  opacity: 1;
  top: 189px;
  bottom: auto;
  padding: 0;
  margin: 0;
}
.typeA .box-club .swiper-button-prev::after,
.typeA .box-club .swiper-button-next::after {
  content: "";
  width: 48px;
  height: 48px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}
.typeA .box-club .swiper-button-prev {
  left: 50%;
  transform: translateX(calc(-50% - 255px));
}
.typeA .box-club .swiper-button-prev:after {
  background-image: url("../../static/images/typeA/btn_prev.png");
}
.typeA .box-club .swiper-button-next {
  right: 50%;
  transform: translateX(calc(-50% + 282px));
}
.typeA .box-club .swiper-button-next:after {
  background-image: url("../../static/images/typeA/btn_next.png");
}
.typeA .box-club .swiper-club-item .swiper-wrapper {
  overflow: hidden;
}
.typeA .box-wedding {
  overflow: hidden;
}
.typeA .box-wedding.bg-1 .inner::after {
  background: #46575f;
}
.typeA .box-wedding.bg-2 .inner::after {
  background: #545a5d;
}
.typeA .box-wedding.bg-3 .inner::after {
  background: #4d6470;
}
.typeA .box-wedding.bg-4 .inner::after {
  background: rgb(65, 80, 88);
}
.typeA .box-wedding.bg-5 .inner::after {
  background: #5a6c75;
}
.typeA .box-wedding.bg-6 .inner::after {
  background: #3b6c8a;
}
.typeA .box-wedding.bg-7 .inner::after {
  background: #7a848a;
}
.typeA .box-wedding.bg-ani .inner::after {
  opacity: 1;
  left: 0;
}
.typeA .box-wedding .inner {
  text-align: center;
  position: relative;
}
.typeA .box-wedding .inner h2 {
  padding: 40px 0 189px 0;
}
.typeA .box-wedding .inner::after {
  content: "";
  display: block;
  background: var(--SIgnature-4, #6f8895);
  height: 490px;
  position: absolute;
  top: 50%;
  left: -100%;
  opacity: 0.5;
  width: 57vw;
  transform: translate(0, -50%);
  transition: all 2s;
  will-change: auto;
}
.typeA .box-wedding .inner .box-ct {
  z-index: 100;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}
.typeA .box-wedding .inner .box-ct .left {
  position: absolute;
  top: -99px;
  left: 0;
  z-index: 1000;
}
.typeA .box-wedding .inner .box-ct .left .title-1 {
  padding: 42px 0 48px 0;
}
.typeA .box-wedding .inner .box-ct .left img {
  position: relative;
  z-index: 100;
}
.typeA .box-wedding .inner .box-ct .left::after {
  content: "";
  display: none;
  position: absolute;
  top: -22px;
  left: -100%;
  right: -119px;
  bottom: 1px;
  background: var(--SIgnature-4, #6f8895);
}
.typeA .box-wedding .inner .box-ct .right {
  transform: translate(50%, 0);
  position: relative;
  top: -100px;
}
.typeA .box-wedding .inner .box-ct .right .swiper-right {
  overflow: hidden;
}
.typeA .box-wedding .inner .box-ct .right .swiper-right:hover {
  cursor: grab;
}
.typeA .box-wedding .inner .box-ct .right .swiper-right .swiper-wrapper .swiper-slide {
  width: 480px;
  height: 480px;
}
.typeA .box-wedding .inner .box-ct .swiper-button-prev,
.typeA .box-wedding .inner .box-ct .swiper-button-next {
  opacity: 1;
  z-index: 200;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  top: 419px;
  left: 50%;
  bottom: auto;
}
.typeA .box-wedding .inner .box-ct .swiper-button-prev::after,
.typeA .box-wedding .inner .box-ct .swiper-button-next::after {
  content: "";
  opacity: 1;
}
.typeA .box-wedding .inner .box-ct .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.6665 2.22217L5.33317 7.99995L10.6665 13.7777' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  transform: translateX(calc(50% + 210px));
}
.typeA .box-wedding .inner .box-ct .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.3335 13.7778L10.6668 8.00005L5.3335 2.22228' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  transform: translateX(calc(50% + 260px));
}
.typeA .box-wedding .inner .box-ct .swiper-pagination {
  position: absolute;
  top: 183px;
  left: 0;
  right: auto;
  bottom: auto;
  transform: translate(0, calc(50% + 210px));
  width: 459px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.typeA .box-wedding .inner .box-ct .swiper-pagination .gap {
  color: #fff;
  font-size: 16px;
}
.typeA .box-wedding .inner .box-ct .swiper-pagination .gap span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.typeA .box-wedding .inner .box-ct .swiper-pagination .gap .line {
  padding: 0 5px;
  font-size: 10px;
  position: relative;
  top: -2px;
}
.typeA .box-dining .inner {
  max-width: 1400px;
  margin: 0 auto;
}
.typeA .box-dining .inner h2 {
  text-align: center;
  padding: 51px 0 64px 0;
}
.typeA .box-dining .inner h3 {
  text-align: center;
  padding: 0 0 38px 0;
}
.typeA .box-dining .inner h4 {
  padding: 68px 0 121px 0;
  text-align: center;
}
.typeA .box-dining .inner .list {
  position: relative;
}
.typeA .box-dining .inner .list * {
  vertical-align: top;
}
.typeA .box-dining .inner .list img {
  width: 420px;
}
.typeA .box-dining .inner .list .left {
  width: 941px;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  gap: 40px 50px;
}
.typeA .box-dining .inner .list .left::after {
  content: "";
  display: block;
  background: var(--Gray-6, #e1e0e1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
}
.typeA .box-dining .inner .list .right {
  display: inline-block;
  width: 420px;
  position: sticky;
  top: 137px;
  right: 0;
  padding-left: 37px;
}
.typeA .box-banquer {
  background: var(--SIgnature-2, #1f4456);
}
.typeA .box-banquer .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.typeA .box-banquer .inner h2 {
  padding: 80px 0 0 0;
  margin-bottom: -39px;
  position: relative;
  z-index: 1000;
}
.typeA .box-banquer .inner h3 {
  padding: 0 0 80px 0;
  margin-top: -38px;
  position: relative;
  z-index: 1000;
}
.typeA .box-banquer .inner .gap {
  position: relative;
}
.typeA .box-banquer .inner .gap .text-2 {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.typeA .box-banquer .inner .gap .text-3 {
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
}
.typeA .box-banquer .inner .gap .text-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 486px), -50%);
}
.typeA .box-banquer .inner .gap .number {
  position: absolute;
  right: 59px;
  bottom: 33px;
}
.typeA .box-banquer .inner .swiper-banquer:hover {
  cursor: grab;
}
.typeA .box-banquer .inner .swiper-banquer .swiper-slide {
  background: var(--SIgnature-2, #1f4456);
  padding: 100px;
}
.typeA .box-banquer .inner .swiper-button-prev,
.typeA .box-banquer .inner .swiper-button-next {
  opacity: 1;
  z-index: 200;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  top: 663px;
  left: 50%;
  bottom: auto;
}
.typeA .box-banquer .inner .swiper-button-prev::after,
.typeA .box-banquer .inner .swiper-button-next::after {
  content: "";
  opacity: 1;
}
.typeA .box-banquer .inner .swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M10.6665 2.22217L5.33317 7.99995L10.6665 13.7777' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  transform: translateX(calc(50% + 550px));
}
.typeA .box-banquer .inner .swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M5.3335 13.7778L10.6668 8.00005L5.3335 2.22228' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
  transform: translateX(calc(50% + 598px));
}
.typeA .box-banquer .inner .swiper-pagination {
  position: absolute;
  top: 648px;
  left: auto;
  right: 202px;
  bottom: auto;
  width: 459px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.typeA .box-banquer .inner .swiper-pagination .gap {
  color: #fff;
  font-size: 16px;
}
.typeA .box-banquer .inner .swiper-pagination .gap span {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.typeA .box-banquer .inner .swiper-pagination .gap .line {
  padding: 0 5px;
  font-size: 10px;
  position: relative;
  top: -2px;
}
.typeA .box-parnas .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.typeA .box-parnas .inner h2 {
  padding: 120px 0 63px 0;
}
.typeA .box-parnas .inner h3 {
  padding: 0 0 39px 0;
}
.typeA .box-parnas .inner h4 {
  text-align: center;
  padding: 59px 0 120px 0;
}
.typeA .box-parnas .inner .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.typeA .box-club-2 {
  background: var(--SIgnature-1, #e7542c);
}
.typeA .box-club-2 .inner {
  max-width: 1400px;
  margin: 0 auto 120px auto;
  position: relative;
  height: 652px;
}
.typeA .box-club-2 .inner h2 {
  text-align: center;
  padding: 80px 0 60px 0;
}
.typeA .box-club-2 .inner h3 {
  transform: translate(0, -65px);
}
.typeA .box-club-2 .inner .box-text {
  z-index: 100;
  width: 50vw;
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -19px;
  transform: translate(0, -50%);
}
.typeA .box-club-2 .inner .box-text .tetx-2 {
  padding: 0 0 0 76px;
  transform: translateY(20px);
}
.typeA .box-club-2 .inner .box-img {
  padding-left: 33.5vw;
  display: flex;
  align-items: end;
  gap: 5px;
}
.typeA .box-contact {
  background: var(--Gray-bg, #f9f9f9);
}
.typeA .box-contact .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 174px;
}
.typeA .box-contact .inner h2 {
  padding: 80px 0 0 0;
}
.typeA .box-contact .inner h3 {
  padding: 61px 0 40px 0;
}
.typeA .box-family .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 121px;
}
.typeA .box-family .inner h2 {
  padding: 86px 0 63px 0;
}
.typeA .box-footer {
  border-top: 1px solid var(--Gray-10, rgba(255, 255, 255, 0.16));
  background: var(--SIgnature-3, #c1c6c9);
}
.typeA .box-footer .inner {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
.typeA .box-footer .inner h2 {
  padding: 10px 0 10px 0;
}
.typeA .box-res {
  position: fixed;
  bottom: 0;
  right: -300px;
  transition: all 0.4s;
  z-index: 2000;
}
.typeA .box-res.is-active {
  right: 0;
}
.typeA .box-controll-bottom {
  border-top: 1px solid var(--Gray-6, #e1e0e1);
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  z-index: 1800;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: #fff;
  transition: all 0.4s;
  will-change: auto;
  opacity: 0;
}
.typeA .box-controll-bottom.is-show {
  opacity: 1;
  bottom: -31px;
}
.typeA.eshop .box-main-kv {
  height: 70vh;
  padding-top: 49px;
}
.typeA.eshop .box-main-kv .swiper-pagination {
  transform: translateY(calc(-50% + 351px));
}
.typeA.eshop .box-picks {
  margin-top: 140px;
  background-image: url("../../../static/images/eshopA/bg_picks.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.typeA.eshop .box-picks .inner {
  padding: 123px 0 0 0;
}
.typeA.eshop .box-picks .inner h2 {
  text-align: center;
}
.typeA.eshop .box-picks .inner h2 + h2 {
  padding-top: 31px;
}
.typeA.eshop .box-picks .inner .list {
  max-width: 1400px;
  margin: 60px auto 0;
  display: flex;
  gap: 20px;
}
.typeA.eshop .box-offers {
  padding-top: 120px;
  padding-bottom: 140px;
}
.typeA.eshop .box-offers .inner h3 {
  padding: 31px 0 60px 0;
}
.typeA.eshop .box-offers .inner .list {
  gap: 20px;
}
.typeA.eshop .box-footer {
  background: #1c1c1c;
  margin-top: 140px;
}
.typeA.eshop .box-footer .inner h2 {
  padding: 0;
}
.typeA.eshop .box-promotion .inner {
  max-width: 1920px;
  margin: 0 auto;
}
.typeA.eshop .box-promotion .inner .flex {
  display: flex;
}
.typeA.eshop .box-promotion .inner .flex .left {
  flex: 0 0 950px;
  margin-right: 125px;
  position: relative;
  z-index: 10;
}
.typeA.eshop .box-promotion .inner .flex .left .cap {
  margin-top: 60px;
  width: 950px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  display: block;
}
.typeA.eshop .box-promotion .inner .flex .left .cap img {
  position: absolute;
  top: 0;
  left: -101px;
  width: 1100px;
}
.typeA.eshop .box-promotion .inner .flex .right {
  flex-grow: 1;
  position: relative;
  padding-top: 197px;
}
.typeA.eshop .box-promotion .inner .flex .right:after {
  content: "";
  display: block;
  background: var(--SIgnature-4, #6f8895);
  width: 1372px;
  height: 643px;
  position: absolute;
  top: 0;
  right: 0;
}
.typeA.eshop .box-promotion .inner .flex .right h2 {
  position: relative;
  z-index: 10;
  padding: 0 0 38px 0;
}
.typeA.eshop .box-promotion .inner .flex .right .box-list {
  position: relative;
  z-index: 10;
  padding: 83px 0 0 0;
  margin-left: -5px;
}
.typeA.eshop .box-promotion .inner .flex .right .box-list .list {
  display: flex;
  gap: 40px;
}
.typeA.eshop .box-promotion .inner .flex .right .box-list .line {
  padding-top: 56px;
}
.typeA.eshop .box-parnasBanner {
  margin: 80px 0 0;
}
.typeA.eshop .box-parnasBanner .inner {
  max-width: 1760px;
  margin: 0 auto;
}
.typeA.eshop .box-special .inner {
  max-width: 1400px;
  margin: 0 auto -13px;
  padding: 143px 0 0;
}
.typeA.eshop .box-special .inner h2 {
  text-align: center;
  padding-bottom: 60px;
}
.typeA.eshop .box-special .inner .flex {
  display: flex;
}
.typeA.eshop .box-special .inner .flex .right {
  margin-left: 40px;
}
.typeA.eshop .box-special .inner .flex .right .gap-swiper .flex {
  display: flex;
  gap: 40px;
}
.typeA.eshop .box-special .inner .flex .right .gap-swiper .line {
  padding-top: 56px;
}
.typeA.eshopB .box-header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}
.typeA.eshopB .box-header .inner {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 30px 80px;
}
.typeA.eshopB .box-header .inner img {
  object-fit: contain;
}
.typeA.eshopB .box-header.up .up {
  opacity: 1;
  pointer-events: all;
  height: auto;
  padding: 30px 80px;
}
.typeA.eshopB .box-header.up .down {
  opacity: 0;
  pointer-events: none;
  height: 0;
  padding: 0;
}
.typeA.eshopB .box-header.down {
  background: #fff;
}
.typeA.eshopB .box-header.down .inner {
  border-bottom: 1px solid var(--Gray-6, #e1e0e1);
}
.typeA.eshopB .box-header.down .up {
  opacity: 0;
  pointer-events: none;
  height: 0;
  padding: 0;
}
.typeA.eshopB .box-header.down .down {
  opacity: 1;
  pointer-events: all;
  height: auto;
  padding: 30px 80px;
}
.typeA.eshopB .box-main-kvEshop {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100vh;
  animation: mainMotion 1s linear infinite;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes mainMotion {
  to {
    height: 900px;
  }
}
.typeA.eshopB .box-main-kvEshop .swiper-wrapper {
  overflow: visible;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide.is-start {
  height: 100vh;
  animation: mainMotion2 1s linear infinite;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide.is-start .text-1,
.typeA.eshopB .box-main-kvEshop .swiper-slide.is-start .text-2 {
  opacity: 0 !important;
}
@keyframes mainMotion2 {
  to {
    height: 800px;
    padding-bottom: 100px;
  }
}
.typeA.eshopB .box-main-kvEshop .swiper-slide.is-end {
  height: 800px;
  padding-bottom: 100px;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide.swiper-slide-active .text-1,
.typeA.eshopB .box-main-kvEshop .swiper-slide.swiper-slide-active .text-2 {
  opacity: 1;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide .text-1,
.typeA.eshopB .box-main-kvEshop .swiper-slide .text-2 {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1748px;
  text-align: left;
  width: 100%;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide .text-1 {
  bottom: 136px;
  transition: all 0.4s;
}
.typeA.eshopB .box-main-kvEshop .swiper-slide .text-2 {
  bottom: -42px;
  transition: all 0.5s;
}
.typeA.eshopB .box-main-kvEshop .swiper-pagination {
  font-size: 14px;
  bottom: 245px;
  right: 0;
}
.typeA.eshopB .box-main-kvEshop .swiper-pagination .inner {
  padding-right: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.typeA.eshopB .box-main-kvEshop .swiper-pagination .inner .swiper-pagination-current,
.typeA.eshopB .box-main-kvEshop .swiper-pagination .inner .swiper-pagination-total {
  color: #000;
  font-family: Faktum;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  text-transform: uppercase;
}
.typeA.eshopB .box-main-kvEshop .swiper-pagination .inner .autoplay-progress {
  background: var(--Gray-12, rgba(255, 255, 255, 0.4));
  width: 64px;
  height: 1px;
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.typeA.eshopB .box-main-kvEshop .swiper-pagination .inner .autoplay-progress span {
  background: var(--Primary-4, #a88f6a);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.typeA.eshopB .box-main-kvEshop .swiper-button-next,
.typeA.eshopB .box-main-kvEshop .swiper-button-prev {
  display: block !important;
  background-color: transparent;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 80%;
  width: 0%;
  animation: nextPrev 1s linear infinite;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.typeA.eshopB .box-main-kvEshop .swiper-button-next:focus,
.typeA.eshopB .box-main-kvEshop .swiper-button-prev:focus {
  border: none;
  outline: none;
}
.typeA.eshopB .box-main-kvEshop .swiper-button-next::after,
.typeA.eshopB .box-main-kvEshop .swiper-button-prev::after {
  display: none;
}
@keyframes nextPrev {
  to {
    width: 35%;
  }
}
.typeA.eshopB .box-main-kvEshop .swiper-button-prev {
  right: auto;
}
.typeA.eshopB .box-main-kvEshop .swiper-button-next {
  left: auto;
}
.typeA.eshopB .btn-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  will-change: all;
}
.typeA.eshopB .btn-fixed.scroll-up {
  opacity: 1;
  pointer-events: all;
}
.typeA.eshopB .btn-fixed a {
  display: block;
}/*# sourceMappingURL=style.css.map */