@charset "UTF-8";
@font-face {
  font-family: "Cosi Times";
  font-weight: 400;
  font-display: swap;
  src: local("Cosi Times"), url("CosiTimes-Light.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
input {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  word-break: keep-all;
}

input,
textarea {
  border-radius: 0;
  resize: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  font-family: "Pretendard", Dotum, "돋움", Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 12px;
}

body {
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
}

caption,
legend {
  font-size: 0;
  line-height: 0;
  text-indent: -5000px;
}

img,
fieldset,
iframe {
  border: 0 none;
  vertical-align: top;
}

fieldset {
  font-size: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

i,
em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: none;
}

input[type=submit] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hidden {
  clear: both;
  height: 0;
  line-height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

body {
  overflow: hidden;
}

/* gate */
.box-gate {
  background-color: #000;
}
.box-gate .box-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-gate h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
.box-gate .txt-1,
.box-gate .txt-2,
.box-gate .txt-3 {
  position: absolute;
}
.box-gate .txt-1 {
  top: 30px;
  right: 40px;
}
.box-gate .txt-2 {
  bottom: 40px;
  left: 40px;
}
.box-gate .txt-3 {
  bottom: 40px;
  right: 40px;
}
.box-gate .box-type {
  position: relative;
}
.box-gate .box-type + .box-type {
  margin-left: 16px;
}
.box-gate .box-type .btn-flex {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 10px;
}
.box-gate .box-type .btn-flex .btn {
  width: 100%;
  height: 60px;
  background-position: center !important;
  background-size: contain !important;
}

.hdc-frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}
.hdc-frame .mobile-frame {
  width: 413px;
  height: 844px;
  background: url(../images/mobile-frame.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hdc-frame .mobile-frame iframe {
  left: 50%;
  top: 14px;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 52px;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .hdc-frame {
    display: block;
  }
  .hdc-frame .mobile-frame {
    background: none;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .hdc-frame .mobile-frame iframe {
    border-radius: 0;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    transform: translate(0);
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  top: -100vmax;
  transition: top 1s;
}
.header .top-noti {
  width: 100%;
  height: 60px;
  opacity: 1;
  transition: 0.3s all;
  background: var(--primary-3, #877355);
  border-bottom: 4px solid var(--primary-4, #a88f6a);
  position: relative;
}
.header .top-noti img {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
}
.header .gnb {
  width: 100%;
  position: relative;
  padding: 16px 160px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 0.6s all;
}
.header .gnb::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.16;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header .gnb .on {
  display: none;
}
.header .gnb .up {
  display: none;
}
.header .gnb .top {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .gnb .top .left {
  width: 360px;
}
.header .gnb .top .right {
  width: 104px;
}
.header .gnb .middle {
  width: 100%;
  height: 59px;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
}
.header .gnb .middle .logo {
  width: 182px;
  height: 60px;
  background: url(../images/header_4.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s all;
}
.header .gnb .middle .logo img {
  transform: 0.5s;
}
.header .gnb .middle .right {
  width: 124px;
  position: absolute;
  bottom: 0;
  right: 160px;
}
.header .gnb .bottom {
  width: 100%;
  position: relative;
  margin-top: 66px;
}
.header .gnb .bottom .left {
  width: 240px;
}
.header .gnb .bottom .right {
  width: 660px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header.on .gnb {
  background: #fff;
  padding: 9px 160px;
  height: 77px;
  position: fixed;
  top: 60px;
  left: 0;
}
.header.on .gnb .top {
  display: none;
}
.header.on .gnb .middle {
  top: 9px;
}
.header.on .gnb .middle .logo {
  background: url(../images/header_4_on.png) no-repeat;
  width: 146px;
  height: 49px;
  top: 4px;
}
.header.on .gnb .middle img {
  display: none;
}
.header.on .gnb .middle img.right {
  bottom: auto;
  top: 16px;
  width: 240px;
}
.header.on .gnb .middle img.right.on {
  display: block;
}
.header.on .gnb .bottom {
  margin-top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  top: -2px;
}
.header.on .gnb .bottom img {
  display: none;
}
.header.on .gnb .bottom img.on {
  display: block;
}
.header.on.up .gnb {
  height: 180px;
  padding: 16px 160px;
}
.header.on.up .gnb .top {
  display: flex;
}
.header.on.up .gnb .top img {
  display: none;
}
.header.on.up .gnb .top img.on {
  display: block;
}
.header.on.up .gnb .middle {
  top: 27px;
}
.header.on.up .gnb .middle .logo {
  background: url(../images/header_4_up.png) no-repeat;
  width: 182px;
  height: 60px;
}
.header.on.up .gnb .middle img.right {
  top: 35px;
}
.header.on.up .gnb .bottom {
  height: auto;
  top: auto;
  position: absolute;
  width: calc(100% - 320px);
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
}
.header.on.up .gnb .bottom img.on {
  display: none;
}
.header.on.up .gnb .bottom img.up {
  display: block;
}

.event .header.on .gnb {
  top: 0px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vmax;
  height: 100vmax;
  background-color: #fff;
  z-index: 9999;
  cursor: none;
}

.box-main {
  margin-top: -421px;
  transition: all 0.5s;
}
.box-main .top-vs {
  position: relative;
  height: 1221px;
}
.box-main .top-vs #section1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1.8);
  width: 100%;
  height: 1221px;
  z-index: 2;
  overflow: hidden;
}
.box-main .top-vs .text {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  text-align: center;
  height: 134px;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.box-main .top-vs .text img {
  opacity: 0;
}
.box-main .top-vs .text .bg {
  width: 100vw;
  height: 800px;
}
.box-main .top-vs .text .bg.bg-0 {
  background: url(../images/main/box_0_1.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  position: relative;
  color: transparent;
}
.box-main .top-vs .text .bg.bg-1 {
  background: url(../images/main/box_0_1_2.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  position: relative;
  color: transparent;
}
.box-main .top-vs .text .bg.bg-2 {
  background: url(../images/main/box_0_1_3.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  position: relative;
  color: transparent;
}
.box-main .top-vs .text .bg > span {
  font-size: 140px;
  font-weight: 400;
  line-height: 140px;
  font-family: "Cosi Times";
  font-style: normal;
  letter-spacing: 0.01em;
}
.box-main .top-vs .text .bg > span > span {
  display: inline-block;
  text-align: center;
  margin: -15px;
}
.box-main .top-vs .text .bg > span .gap {
  width: -1px;
  margin: 0;
  display: inline-block;
}
.box-main .top-vs .text-motion span {
  transition: all 1s;
  color: #ccc;
  opacity: 1;
  transform: translate(0, 100%);
}
.box-main .top-vs .text-motion span.motion {
  opacity: 1;
  transform: none;
}

.right-bottom-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 444;
  width: 64px;
  height: 200px;
  transition: all 0.4s;
  opacity: 0;
}
.right-bottom-fixed * {
  cursor: pointer;
}

.inner-gap-1,
.inner-gap-2,
.inner-gap-3 {
  margin: 0 auto;
}

.inner-gap-1 {
  max-width: 1600px;
}

.inner-gap-2 {
  max-width: 1920px;
}

.inner-gap-3 {
  max-width: 960px;
}

.swiper-1 {
  padding: 200px 0 0 0;
  position: relative;
}
.swiper-1 .tit-1 {
  text-align: center;
  padding: 0 0 41px 0;
}
.swiper-1 .box-flex {
  display: flex;
  padding: 0 135px;
}
.swiper-1 .box-flex .img-1 {
  width: 520px;
  margin-right: 20px;
}
.swiper-1 .box-flex .mySwiper {
  width: 790px;
  cursor: grab;
}
.swiper-1 .box-flex .mySwiper * {
  cursor: grab;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + 126px));
  width: 51px !important;
  height: 51px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 51px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
  width: 51px !important;
  height: 51px !important;
}

.swiper-button-prev {
  left: 39px !important;
  background-image: url(../images/main/box_2_5.png);
}

.swiper-button-next {
  right: 39px !important;
  background-image: url(../images/main/box_2_6.png);
}

.swiper-scrollbar {
  height: 1px !important;
  border-radius: 0 !important;
  background: #c5beb4 !important;
  z-index: 4 !important;
}

.swiper-scrollbar-drag {
  background-color: #000 !important;
}

.swiper-2 {
  padding: 100px 0 0 0;
  position: relative;
}
.swiper-2 .img-1 {
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 2;
}
.swiper-2 .tit-1 {
  text-align: center;
  padding: 0 0 40px 0;
}
.swiper-2 .box-flex {
  padding: 0 135px;
}
.swiper-2 .box-flex .swiper-slide img {
  width: 655px;
  height: 655px;
  margin-right: 0;
  margin-left: 7px;
  margin-top: 100px;
}
.swiper-2 .box-flex .swiper-slide img:nth-child(1) {
  margin-right: 7px;
  margin-left: 0;
  margin-top: 0;
}
.swiper-2 .swiper-button-prev {
  transform: translateY(calc(-50% + 42px));
}
.swiper-2 .swiper-button-next {
  transform: translateY(calc(-50% + 141px));
}

.swiper-3 {
  padding: 100px 0 0 0;
  position: relative;
  cursor: grab;
}
.swiper-3 .tit-1 {
  padding-bottom: 39px;
}
.swiper-3 .mySwiper {
  padding-bottom: 55px;
  cursor: grab;
}
.swiper-3 .mySwiper * {
  cursor: grab;
}
.swiper-3 .box-flex {
  padding: 0 135px;
}
.swiper-3 .box-flex .swiper-slide {
  width: 520px;
}
.swiper-3 .swiper-scrollbar {
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: auto !important;
  position: static !important;
  margin-top: 50px;
}

.box-pd {
  padding: 45px 0 0 0;
}
.box-pd .tit-1 {
  padding-bottom: 10px;
}
.box-pd .box-gap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 370px 0 300px 0;
}
.box-pd .box-gap .img {
  position: absolute;
}
.box-pd .box-gap .img.img-2 {
  left: 0;
  top: 70px;
}
.box-pd .box-gap .img.img-3 {
  right: 0;
  top: 71px;
}
.box-pd .box-gap .img.img-4 {
  left: 0;
  bottom: 0;
}
.box-pd .box-gap .img.img-5 {
  right: 0;
  bottom: 0;
}

.footer {
  text-align: center;
  background: var(--primary-16-bg, #f5f5f5);
}

.box-event {
  background-image: url(../images/event/box_0_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.box-event .inner-gap-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.box-event .text-1 {
  position: absolute;
  bottom: 124px;
  left: 0;
}
.box-event .text-1 img {
  margin-top: 23px;
}
.box-event .img-1 {
  margin-top: 167px;
}
.box-event.special-type {
  background-image: url(../images/promotion/box_0_1.png);
}
.box-event.special-type .text-1 img {
  margin-top: 0;
}

.box-perfume {
  background: var(--primary-2, #49433a);
  padding: 103px 0 99px 0;
}
.box-perfume .tit-1 {
  margin-bottom: 60px;
}
.box-bazaar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 81px 0;
}
.box-bazaar .img-2 {
  padding: 38px 0 44px 0;
}
.box-cosmeticsEvent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 90px 0 62px 0;
  background-color: #222;
}
.box-cosmeticsEvent .img-2 {
  padding: 37px 0 46px 0;
}
.box-cosmeticsEvent ul li {
  margin-bottom: 16px;
}

.box-specialBottom {
  padding: 82px 0 79px 0;
}
.box-specialBottom .inner-gap-3 {
  display: flex;
  justify-content: space-between;
}
.box-specialBottom .inner-gap-3 .left {
  width: 480px;
}
.box-specialBottom .inner-gap-3 .right {
  width: 456px;
  margin-top: 60px;
}

.header.mob {
  top: 0;
}
.header.mob .top-noti img {
  max-width: 360px;
}
.header.mob .gnb {
  padding: 21px 24px;
  height: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header.mob .gnb > div {
  background-position: center !important;
  background-size: contain !important;
}
.header.mob .gnb .left {
  width: 54px;
  height: 22px;
  background: url(../images/m_header_2.png) no-repeat;
}
.header.mob .gnb .logo {
  width: 90.5px;
  height: 30px;
  background: url(../images/m_header_3.png) no-repeat;
}
.header.mob .gnb .right {
  width: 54px;
  height: 22px;
  background: url(../images/m_header_4.png) no-repeat;
}
.header.mob.on .gnb .left {
  background: url(../images/m_header_2_sc.png) no-repeat;
}
.header.mob.on .gnb .logo {
  background: url(../images/header_4_on.png) no-repeat;
}
.header.mob.on .gnb .right {
  background: url(../images/m_header_4_sc.png) no-repeat;
}
.header.mob.on.up .gnb {
  padding: 21px 24px;
  height: 72px;
}

.box-main.mob {
  margin-top: 60px;
}
.box-main.mob .inner-gap-1 {
  width: 100%;
  padding: 0 24px;
}
.box-main.mob .mob-kv {
  width: 100%;
  position: relative;
  height: 748px;
}
.box-main.mob .mob-kv .inner-gap-1 {
  padding-top: 86px;
  padding-bottom: 80px;
}
.box-main.mob .mob-kv .inner-gap-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .mob-kv .inner-gap-1 .txt-1 {
  width: 276px;
  padding-bottom: 27px;
}
.box-main.mob .mob-kv .inner-gap-1 .txt-2 {
  width: 95px;
  padding-bottom: 32px;
}
.box-main.mob .mob-kv .inner-gap-1 .txt-3 {
  width: 120px;
}
.box-main.mob .swiper-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .swiper-1 .tit-1 {
  width: 100%;
  padding-bottom: 20px;
}
.box-main.mob .swiper-1 .box-flex {
  padding: 0;
}
.box-main.mob .swiper-1 .box-flex .mySwiper {
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 0 24px;
  margin-right: 0;
  overflow: visible;
}
.box-main.mob .swiper-1 .box-flex .mySwiper .swiper-slide .img-1 {
  width: 100%;
  margin-right: 0;
}
.box-main.mob .swiper-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.box-main.mob .swiper-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .swiper-2 .tit-1 {
  width: 100%;
  padding-bottom: 20px;
}
.box-main.mob .swiper-2 .box-flex {
  padding: 0;
}
.box-main.mob .swiper-2 .box-flex .mySwiper {
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 0 24px;
  margin-right: 0;
  overflow: visible;
}
.box-main.mob .swiper-2 .box-flex .mySwiper .swiper-slide .img-1 {
  width: 100%;
  margin-right: 0;
}
.box-main.mob .swiper-3 {
  padding-bottom: 80px;
}
.box-main.mob .swiper-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .swiper-3 .tit-1 {
  width: 100%;
  padding-bottom: 20px;
}
.box-main.mob .swiper-3 .box-flex {
  padding: 0;
}
.box-main.mob .swiper-3 .box-flex .mySwiper {
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 0 24px;
  margin-right: 0;
  overflow: visible;
}
.box-main.mob .swiper-3 .box-flex .mySwiper .swiper-slide .img-1 {
  width: 100%;
  margin-right: 0;
}
.box-main.mob .swiper-4 {
  padding-bottom: 73px;
}
.box-main.mob .swiper-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .swiper-4 .tit-1 {
  width: 100%;
  padding-bottom: 20px;
}
.box-main.mob .swiper-4 .box-flex {
  padding: 0;
}
.box-main.mob .swiper-4 .box-flex .tab {
  width: calc(100% + 48px);
  margin-left: -24px;
  padding: 0 24px 12px;
}
.box-main.mob .swiper-4 .box-flex .tab img {
  width: 634px;
}
.box-main.mob .swiper-4 .box-flex .img-1 {
  width: calc(100% + 16px);
  margin-left: -8px;
}
.box-main.mob .swiper-4 .box-flex .mySwiper {
  width: calc(100% + 48px);
  margin: -8px 0 0 -24px;
  padding: 0 24px;
  overflow: visible;
}
.box-main.mob .swiper-4 .box-flex .mySwiper .swiper-slide p {
  width: calc(100% + 16px);
  margin-left: -8px;
}
.box-main.mob .item-box {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}
.box-main.mob .item-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-main.mob .footer {
  width: 100%;
}
.box-main.mob .footer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-kv-top {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}
.swiper-kv-top .mySwiper .img-1 {
  width: 100%;
  height: 1221px;
  background-position: center 421px;
  background-repeat: no-repeat;
}
.swiper-kv-top .box-swiperControl {
  position: absolute;
  bottom: 109px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 120px;
  opacity: 0;
}
.swiper-kv-top .box-swiperControl .swiper-pagination {
  font-family: Faktum;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: transparent;
}
.swiper-kv-top .box-swiperControl .swiper-pagination .swiper-pagination-current {
  color: var(--primary-6, #fff) !important;
  padding-right: 35px;
}
.swiper-kv-top .box-swiperControl .swiper-pagination .swiper-pagination-total {
  color: var(--primary-6, #fff) !important;
  padding-left: 35px;
}
.swiper-kv-top .box-swiperControl .loadingBar {
  width: 64px;
  height: 2px;
  background: var(--gray-12, rgba(255, 255, 255, 0.4));
  opacity: 0.5;
  z-index: 10;
  position: relative;
  top: -4px;
}
.swiper-kv-top .box-swiperControl .loadingBar span {
  display: block;
  height: 2px;
  width: 0;
  background: var(--primary-4, #a88f6a);
}

.mobile .kv-img {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}
.mobile .kv-img * {
  overflow: visible;
}
.mobile .kv-img .mySwiper .img-1 {
  width: 100%;
  height: 1221px;
  background-position: center 421px;
  background-repeat: no-repeat;
}
.mobile .kv-img .mySwiper .swiper-slide {
  width: 100vw;
  position: relative;
}
.mobile .kv-img .mySwiper .swiper-slide .img {
  width: 100%;
}
.mobile .kv-img .mySwiper .swiper-slide .img-2 {
  position: absolute;
  top: 77vh;
  left: 24px;
}
.mobile .kv-img .box-swiperControl {
  position: absolute;
  bottom: -247px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 120px;
  opacity: 0;
}
.mobile .kv-img .box-swiperControl .swiper-pagination {
  font-family: Faktum;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: transparent;
}
.mobile .kv-img .box-swiperControl .swiper-pagination .swiper-pagination-current {
  color: var(--primary-6, #757573) !important;
  padding-right: 35px;
}
.mobile .kv-img .box-swiperControl .swiper-pagination .swiper-pagination-total {
  color: var(--primary-6, #757573) !important;
  padding-left: 35px;
}
.mobile .kv-img .box-swiperControl .loadingBar {
  width: 64px;
  height: 2px;
  background: var(--gray-15, rgba(23, 16, 16, 0.2));
  opacity: 0.5;
  z-index: 10;
  position: relative;
  top: -4px;
}
.mobile .kv-img .box-swiperControl .loadingBar span {
  display: block;
  height: 2px;
  width: 0;
  background: var(--primary-4, #a88f6a);
}
.mobile .box-textMotion {
  padding: 0 !important;
}
.mobile .kv-img-2 {
  width: 100%;
  position: absolute;
  top: 63vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}
.mobile .kv-img-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mobile .kv-img-2 img.scroll {
  width: 60px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -43px;
}
.mobile .text {
  position: absolute;
  top: 65vh;
  left: 24px;
  right: 0;
  text-align: left;
  height: 82px;
  opacity: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 100;
}
.mobile .text img {
  opacity: 0;
}
.mobile .text .bg {
  width: 100vw;
  height: 800px;
}
.mobile .text .bg.bg-0 {
  background: url(../images/main/mob/m_box_0_1.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: left;
  position: relative;
  color: transparent;
}
.mobile .text .bg.bg-1 {
  background: url(../images/main/mob/m_box_0_1_2.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: left;
  position: relative;
  color: transparent;
}
.mobile .text .bg.bg-2 {
  background: url(../images/main/mob/m_box_0_1_3.png) no-repeat 34%/244%;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: left;
  position: relative;
  color: transparent;
}
.mobile .text .bg > span {
  font-size: 40px;
  font-weight: 550;
  line-height: 40px;
  font-family: "Cosi Times";
  font-style: normal;
  letter-spacing: 0.01em;
  transition: all 1s;
}
.mobile .text .bg > span > span {
  display: inline-block;
  text-align: center;
  margin-right: -8px;
}
.mobile .text .bg > span .gap {
  width: -1px;
  margin: 0;
  display: block;
}
.mobile .text-motion span {
  transition: all 0.5s;
  color: transparent;
  opacity: 1;
  transform: translate(0, 100%);
}
.mobile .text-motion span.motion {
  opacity: 1;
  transform: none;
}/*# sourceMappingURL=style.css.map */